<iati-activities xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" generated-datetime="<%= Time.now() %>" version="1.01">

<% @download_projects.each do |project| %>

<iati-activity last-updated-datetime="<%= project.updated_at %>" default-currency="project.budget_currency" xml:lang="<%=project.language%>">


<reporting-org type="<%= @download_organization.organization_type_id %>"  ref="#{@download_organization.organization_country}-#{@download_organization.organization_guid}"><%= @download_organization.organization_name %></reporting-org>


<iati-identifier> <%= "#{@download_organization.organization_country}-#{@download_organization.organization_guid}-#{project.project_guid}" %>
 </iati-identifier>


<title>
<%= project.title %>
</title>


<% if !project.description.blank? %>
<description>
<%= project.description %>
</description>
<%end%>


<% if !project.start_date.blank? %>
<activity-date type="start-actual"><%= project.start_date %></activity-date>
<%end%>

<% if !project.end_date.blank? %>
<activity-date type="end-planned"><%= project.end_date %></activity-date>
<%end%>


<participating-org role="Implementing" type="<%= @download_organization.organization_type_id %>" ref="<%= @download_organization.organization_guid %>"><%=@download_organization.organization_name %></participating-org>

<% @download_other_orgs.each do |other_orgs| %>
<% if other_orgs[:project_id] == project.cartodb_id %>
<% counter= 1%>
<% other_orgs[:other_org_names].each do |other_org_name| %>
<participating-org role="<%= other_orgs[:other_org_roles][counter] %>" type="" ref="">
<%=other_org_name%></participating-org>
<% counter+=1%>
<%end%>
<%end%>
<%end%>


<% if !project.website.blank? %>
<activity-website><%= project.website %></activity-website>
<%end%>


<% @download_sectors.each do |project_sector| %>
<% if project_sector[:project_id] == project.cartodb_id %>
<% project_sector[:sector_id].each do |sector| %>
<% @download_sector_names.each do |sector_name| %>
<% if sector_name[:sector_id] == sector %>
<sector vocabulary="DAC" code="<%= sector_name.sector_code %>"><%= sector_name.name %></sector>
<%break%>
<%end%>
<%end%>
<%end%>
<%end%>
<%end%>


<% if !project.program_guid.blank? %>
<related-activity type="1" ref="<%= project.program_guid %>"></related-activity>
<%end%>


<% if !project.budget.blank? %>
<budget>
<value currency="<%= project.budget_currency %>" value-date=""><%= project.budget %></value>
</budget>
<%end%>


<!--
<recipient-country code=""/>
<location-type code="ADM1"></location-type>
<location-type code="ADM2"></location-type>
-->

<% if !project.result_title.blank? %>
<result type="output">
	<title> <%=project.result_title %> </title>
	<% if !project.result_description.blank? %>
	<description><%= project.result_description %></description>
	<%end%>
</result>
<%end%>


<contact-info>
<organisation><%= @download_organization.organization_name %></organisation>

<% if !project.contact_name.blank? %>
<person-name> <%= project.contact_name %></person-name>
<%end%>

<% if !project.contact_email.blank? %>
<email><%= project.contact_email %></email>
<%end%>
</contact-info>


<% if !project.collaboration_type.blank? %>
<collaboration-type code="<%= project.collaboration_type %>"></collaboration-type>
<%end%>

<% if !project.aid_type.blank? %>
<default-aid-type code="<%= project.aid_type %>"></default-aid-type>
<%end%>

<% if !project.tied_status.blank? %>
<default-tied-status code="<%= project.tied_status %>"></default-tied-status>
<%end%>

<% if !project.flow_type.blank? %>
<default-flow-type code="<%= project.flow_type %>"></default-flow-type>
<%end%>

<% if !project.finance_type.blank? %>
<default-finance-type code="<%= project.finance_type %>"></default-finance-type>
<%end%>


<% if !project.result_title.blank? %>
<result type="output">
	<title> <%=project.result_title %> </title>
	<% if !project.result_description.blank? %>
	<description><%= project.result_description %></description>
	<%end%>
</result>
<%end%>


</iati-activity>



<%end%>
</iati-activities>

