<div class="center_content">

	<h1> <%= session[:organization].organization_name %> </h1>

<p>Do you want to add new projects?  or do you feel at looking at current statistics? From your dashboard you can control everything</p>

<%= button_to "Add project", :action => "new_project" %>

<%= button_to "Import from file", :action => "new_project" %>

<h2> <%= @fake_total_projects %> projects published</h2>
<h3> <%= @fake_current_projects %> ongoing projects </h3>
<h3> <%= @fake_past_projects %> past projects</h3>

<%= button_to "Download XML", :action => "download" %>
<% if @fake_project_list %>
<% @fake_project_list.each do |i| %>
	<!-- Here we could do this as a list, but I dont really know how to do this
	-->
	<% flag_check = i[:name] %>
	<%= check_box_tag :project_check, i[:name] %>
	<%= link_to i[:name], i[:url]%>
	<br>
<% end%>
<% end%>

<%= button_to "Delete projects", :action => "delete", :method => "post" %>





	<!--
	 <a href="#" class="read_more">read more</a> 
@fake_project_list
@fake_current_projects
@fake_past_projects
@fake_sector_distribution = [12, 0, 0, 0, 0, 0, 84, 4]

-->


</div>