<div class="center_content">

	<h1> Hello, <%= session[:organization].organization_name %> </h1>


<p>Do you want to add new projects?  or do you feel at looking at current statistics? From your dashboard you can control everything</p>

<%= link_to "Add project", "/project" %>

<%= button_to "Import from file", :action => "import_file" %>

<h2> <%= @projects_list.length %> projects published</h2>
<h3> <%= @fake_current_projects %> ongoing projects </h3>
<h3> <%= @fake_past_projects %> past projects</h3>

<%= button_to "Download XML", :action => "download" %>



<% @projects_list.each do |project| %>

<!--< link_to project.title, '/view_project', {:action => "view_project", :view_project_id =>project.title}, :method =>"post" %>  -->

<%= button_to project.title, {:action => "view_project",:view_project_id => project.cartodb_id}, :method => "get" %>
<%= button_to "Delete", {:action => "delete",:delete_project_id => project.cartodb_id}, :method => "post", :confirm => "Are you sure?" %>

	
	<br>
<% end%>


<!-- < button_to "Delete projects", :action => "delete", :method => "post" %>
	< check_box_tag :project_check[i], 1 %>
-->



	<!--
	 <a href="#" class="read_more">read more</a> 
@fake_project_list
@fake_current_projects
@fake_past_projects
@fake_sector_distribution = [12, 0, 0, 0, 0, 0, 84, 4]

-->


</div>