<% content_for :head do %>
  <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?sensor=false">
  </script>
  <script>
    var projects_list = [];
    <% @projects_list.each do |project| -%>
      projects_list.push({
        markers: '<%= project.project_markers %>',
        info: {
          name: '<%= project.title %>',
          sectors: <%= project.sectors.delete("{NULL}").split(',').map{|s| sector_by_id(s)}.to_json.html_safe %>,
          budget: '<%= project.budget %>',
          start_date: '<%= format_date(project.start_date) %>',
          end_date: '<%= format_date(project.end_date) %>'
        }
      });
    <% end -%>
  </script>
  <%= javascript_include_tag "dashboard" %>
<% end %>

 <div class="logo">
      <h1><a href="/dashboard" title="openAid Home">Your dashboard</a><img src="/images/plus_icon.png" alt="" class="rit png" /></h1>
    </div>
    <div class="header_text ">
      <p>Do you want to add new projects? or do you feel at looking at current statistics? From your dashboard you can control everything.</p>
    </div>
  </div>


  <div id="body_container">
    <div class="sign_sec">
      <div class="sign_left">
      		<div class="dashboard">
            	<div id="map_canvas" class="map">
              </div>
                <div class="edit_sec">

				<%counter= true%>
				<% @projects_list.each do |project| %>
                	<ul>
					<%if counter%>
                    	<li class="patrn">
					<%else%>
               			<li>
					<%end%>
						<a href="/project?id=<%=project.cartodb_id%>"><%=project.title%></a>
                            <div class="hide_shows">
                            <a href="/delete?delete_project_id=<%=project[:cartodb_id]%>" data-confirm="Are you sure?" class="edit delete">delete</a>
                            <a href="/project?id=<%=project.cartodb_id%>" class="edit">edit</a>
                            </div>
					<% counter=!counter%>
                        </li>
					<%end%>

                    </ul>
                    <div class="add_project">
                    	<a href="/project">Add Project</a>
                    </div>
                </div>
            </div>

      </div>
      <div class="dashboard_right">
      		<div class="project_details">
            <h4><img src="/images/text01.gif" alt="" /></h4>
            <div class="rows"><strong><%= @projects_list.length %></strong> <small>Projects <br />published</small></div>
            <div class="rows"><span><em><%= @current_projects %></em> Ongoing projects</span></div>
            <div class="rows"><span><em><%= @past_projects %></em> Past projects</span></div>
            <div class="add_project">
                  <a href="/project" class="add">Add Project</a>

                  <%= form_tag import_file_path, :multipart => true do %>
                    <span>or import <a href="#"><%= file_field_tag :file_upload %>from file</a></span>
                  <% end -%>
             </div>
             <div class="publish">
             <h3>PUBLISHING TOOLS</h3>
             	<ul>
                	<li>
                    	<div class="but_sec"><a href="/download/<%=session[:organization][:cartodb_id]%>">XML</a></div>

                        <div class="text_sec">
                        	<p>Download your IATI XML File and share it with everyone </p>
                        </div>
                    </li>
                    <li>
                    	<div class="but_sec"><a href="/publish">Publish</a></div>
                        <div class="text_sec">
                        	<p>Make your projects available at the IATI Registry</p>
                        </div>
                    </li>
                </ul>
             </div>

			<div class="account">
             <h3>ACCOUNT</h3>
             	<ul>
                	<li>
                    	<div class="but_sec"><a href="/account">Profile</a></div>

                        <div class="text_sec">

                        	<p>Edit your account details </p>
                        </div>
                    </li>
                </ul>
             </div>
            </div>
