<!-- not used in the current version -->
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Open Aid Register </h1>


    <p>
      You have successfully signed up to Open Aid Register.
      
    </p>
    <p>
     	You can start registering new projects from now on in Open Aid Register. Go to <a href="http://openaidregister.org/dashboard">your dashboard</a> and enter your projects's data.
		 
	</p>
	<p>	You have signed up with the following data:</p>

		<p>
		Your name: <%=@new_user.contact_name%><br>
		Your email: <%=@new_user.email%><br>
		Your Telephone: <%=@new_user.telephone%><br>
		Organization's Name: <%=@new_user.organization_name%><br>
		Organization's Type: <%=@new_user.organization_type_id%><br>
		Organization's Web: <%=@new_user.organization_web%><br>
		Organization's Country :<%=@new_user.organization_country%><br>
		Government ID: <%=@new_user.organization_guid%><br>
	
    </p>
    <p>Thanks for your interest and have a great day!</p>

 <h3>
	
	The Open Aid Register Team</h3>
  </body>
</html>