<%= form_tag(:method => "post") do %>
<fieldset>
  <div class="colem">
    <h3>PERSONAL INFORMATION</h3>

    <div class="row">
      <label>your email*</label>
			<% if session[:organization].blank? %>
      <input name="email" type="text" class="imp01" value="<%=@org_data[:email] %>"/>
			<% else %>
			<input name="email" type="text" class="imp01" value="<%=@org_data[:email] %>" disabled="disabled"/>
			<% end %>
    </div>

    <div class="row">
      <div class="inner_row">
        <label>Password*</label>
        <input name="password" type="password" class="imp01" value=""/>
      </div>
      <div class="inner_row">
        <label>retype Password*</label>
        <input name="password_confirm" type="password" class="imp01" value=""/>
      </div>
    </div>

    <div class="row">
      <div class="inner_row1">
        <label>your name*</label>
        <input name="contact_name" type="text" class="imp01" value="<%=@org_data[:contact_name] %>"/>
      </div>
      <div class="inner_row2">
        <label>phone</label>
        <input name="telephone" type="text" class="imp01" value="<%=@org_data[:telephone] %>"/>
      </div>
    </div>
  </div><!-- /colem -->

  <div class="colem">
    <h3 class="padd_top">ORGANIZATION INFORMATION</h3>

    <div class="row">
      <label>ORGANIZATION's name*</label>
      <input name="organization_name" type="text" class="imp02" value="<%= @org_data[:organization_name] %>"/>
    </div>

    <div class="row">
      <label>ORGANIZATION's website</label>
      <input name="organization_web" type="text" class="imp02" value="<%=@org_data[:organization_web] %>"/>
    </div>

		<div class="row">
	    <div class="inner_row">
	      <label>ORGANIZATION's type*</label>
	      <%= select_tag(:organization_type_id, options_for_select(ORGANIZATION_TYPE_LIST, :selected => @org_data[:organization_type_id]), :class=>"wid-205") %>
	    </div>
	    <div class="inner_row">
	      <label>government id</label>
	      <input name="organization_guid" type="text" class="imp01" value="<%=@org_data[:organization_guid] %>"/>
	    </div>
			<div class="inner_row last">
	      <p class="inform"> In the US this would be the EIN Number </p>
	    </div>
	  </div>

		<div class="row">
      <label>ORGANIZATION's country*</label>
			<%= select_tag(:organization_country, options_for_select(COUNTRY_LIST, :selected => @org_data[:organization_country])) %>
		</div>
  </div>

	<div class="colem">
    <h3 class="padd_top">IATI REGISTRY INFORMATION</h3>

    <div class="row">
      <label>API KEY</label>
      <input name="api_key" type="text" class="imp02 tip_top" value="<%= @org_data[:api_key] %>"  title="This information can be introduced later, once you register at the www.iatiregistry.org"/>
    </div>

    <div class="row">
      <label>PUBLISHER ID</label>
      <input name="package_name" id="package_name" type="text" class="imp02 tip_top" value="<%= @org_data[:package_name] %>" title="This information can be introduced later, once you register at the www.iatiregistry.org" />
    </div>

  </div><!-- colem -->

  <div class="colem01">
		<% if session[:organization].blank? %>
    <span><input class="inp" name="" type="submit" value="Sign in"/></span>
    <p><small><input name="conditions" type="checkbox" value="true" /></small> Yes, I accept the <a href="/conditions">terms and conditions</a></p>
		<% else %>
		<span><input class="inp" name="" type="submit" value="Update"/></span>
		<% end %>
  </div><!-- colem -->

</fieldset>
<% end %>
