<div class="center_content">

		<h1> Did you forget your password?</h1>
		<h3>Enter your email and you will get a new password</h3>
		<br>
		  <br>
			<% if @errors %>
			<p>
				<b>Errors:</b><br>
				<%@errors.each do |error|%>
				* <%=error%><br>
				<%end%>
			</p>
			<%end%>
			<%= flash[:alert] %>
	
		<%= form_tag( :method => "post") do %>
			<%= label_tag(:email, "Email:") %>
		  	<%= text_field_tag(:email) %>
		
		<br>
		  <br>
		<%= submit_tag("Submit") %>
		<br>
		
	<% end %>
	
	</div>
