<!-- not used in the current version -->
<div class="center_content">
<h3> Your password is reset <h3>
	
	
	<% if @errors %>
	<p>
		<b>Errors:</b><br>
		<%@errors.each do |error|%>
		* <%=error%><br>
		<%end%>
	</p>
	<%end%>

<p> Please introduce your new password</p>

	<%= form_tag( :method => "post") do %>
	
	  	<%= label_tag(:password, "Password:") %>
	  	<%= password_field_tag(:password) %>	
	
			<%= label_tag(:password_confirm, "Repeat password:") %>
		  	<%= password_field_tag(:password_confirm) %>
	
	<br>
	  <br>
	
		<input type="hidden" id="" name="token" value="<%=params[:id]%>" />
	<%= submit_tag("update") %>
	
	
	<% end %>
	
	</div>
	
	
	
	