
        
    <div class="center_content">
    
         
		<h1> Sign Up </h1>
		
		<% if @errors %>
		<p>
			<b>Errors:</b><br>
			<%@errors.each do |error|%>
			* <%=error%><br>
			<%end%>
		</p>
		<%end%>
         
		<br>
		  <br>
		Sign up to have an account for your organization!
		We understand this is annoying, but we need some information about you and your organization before approving your account. We will also use the organization info for the publishing process so you won't need to write this again.
		<br>
		You can always <a HREF="mailto:ruthdelcampo@gmail.com">contact us</A> if you have troubles on this step.
         
        <br>
		<br>
		
        <%= form_tag( :method => "post") do %>
			<%= label_tag(:email, "Email:") %>
		  	<%= text_field_tag(:email) %>
		
		  	<%= label_tag(:password, "Password:") %>
		  	<%= password_field_tag(:password) %>	
		
		<br>
		  <br>
		
		  	<%= label_tag(:name, "Your name:") %>
		  	<%= text_field_tag(:name) %>
		  
		  	<%= label_tag(:position, "Your position:") %>
			<%= text_field_tag(:position) %>
			
			<br>
			  <br>
			
			<%= label_tag(:telephone, "Your telephone:") %>
			<%= text_field_tag(:telephone) %>
			<br>
			We need it to check you belong to this organization, but we will only contact you once.  
		<br>
		  <br>
			
			<%= label_tag(:organization, "Organization's name:") %>
		  	<%= text_field_tag(:organization) %>
		
			<%= label_tag(:org_type, "Organization's type:") %>
			<%= select_tag(:org_type, options_for_select([['', 1],['International NGO', 2], ['National NGO', 3], ['Regional NGO', 4]]))%>
			
		<br>
		  <br>
			
			<%= label_tag(:org_country, "Organization's country:") %>
			<%= select_tag(:org_country, options_for_select([['', 1],['International', 2],['Spain', 3], ['United States', 4], ['United Kingdom', 5]]))%>

			
			<%= label_tag(:org_website, "Organization's website:") %>
			<%= text_field_tag(:org_website) %>
			
			<br>
		Where is your organization's based? 
		<br>
		You can also answer international  
		<br>
		<br>
			<%= label_tag(:government_id, "Government's ID:") %>
			<%= text_field_tag(:government_id) %>
			<br>
			This is the Government ID Number. For example, in the US this wold be the EIN.
			<br> 
			If you don't know it, leave it blank.
		<br>  
		<br>
		<%= check_box_tag(:conditions) %>
		<%= label_tag(:conditions, "I accept the ") %>
		<a href="/conditions">terms and conditions</a>
		<br>
		  <br>
		<%= submit_tag("Register") %>
		
		<br>
		
		Already registered? 
		<a href="/login">Sign In</a>
		<% end %>
    



    </div>    

    
   
    
    </div>
    
