<% content_for :head do %>

<%= javascript_include_tag "signup" %>

<% end %>

<div class="logo">
		<% if session[:organization].blank? %>
      <h1><a href="/signup" title="openAid Home">Sign up</a><img src="/images/plus_icon.png" alt="" class="rit4 png" />
	</h1>
 </div>
 <div class="header_text">
    <p>We need this information about you and your organization to validate your account. We will also use the organization info when publishing your aid data so you won’t need to write this again.</p>
  </div>
		<%else%>
		<h1><a href="/signup" title="openAid Home">Your account</a></h1>
		</div>
	 <div class="header_text">
	    <p>Edit your account or complete the information about your organization. This organization information will be used for the IATI XML</p>
	  </div>
		<%end%>
         
</div>
<div id="body_container">
  <div class="sign_sec">
    <div class="sign_left">
    	<%= form_tag( :method => "post") do %>
          	<fieldset>
              	<div class="colem">
              	<h3>PERSONAL INFORMATION</h3>
                  <div class="row">
                  	<label>your email*</label>
						<% if session[:organization].blank? %>
                      <input name="email" type="text" class="imp01" value="<%=@org_data[:email] %>"/>
						<%else%>
						<input name="email" type="text" class="imp01" value="<%=@org_data[:email] %>" disabled="disabled"/>
						<%end%>
                  </div>
                  <div class="row">
                  	<div class="inner_row">
                      	<label>Password*</label>
                          <input name="password" type="password" class="imp01" value=""/>
                      </div>
                      <div class="inner_row">
                      	<label>retype Password*</label>
                          <input name="password_confirm" type="password" class="imp01" value=""/>
                      </div>
                  </div>
                  
                  <div class="row">
                  	<div class="inner_row1">
                      	<label>your name*</label>
                          <input name="contact_name" type="text" class="imp01" value="<%=@org_data[:contact_name] %>"/>
                      </div>
                      <div class="inner_row2">
                      	<label>phone</label>
                          <input name="telephone" type="text" class="imp01" value="<%=@org_data[:telephone] %>"/>
                      </div>
                  </div>
                  </div>
                  <div class="colem">
              	<h3 class="padd_top">ORGANIZATION INFORMATION</h3>
                  <div class="row">
                  	<label>ORGANIZATION's name*</label>
                      <input name="organization_name" type="text" class="imp02" value="<%= @org_data[:organization_name] %>"/>
                  </div>
                  <div class="row">
                  	<label>ORGANIZATION's website</label>
                      <input name="organization_web" type="text" class="imp02" value="<%=@org_data[:organization_web] %>"/>
                  </div>

					<div class="row">
	                  	<div class="inner_row">
	                      	<label>ORGANIZATION's type*</label>
	                          <%= select_tag(:organization_type_id, options_for_select([['', ''],
								['Government','10'],
								['Other Public Sector','15'],
								['International NGO','21'],
								['National NGO','22'],
								['Regional NGO','23'],
								['Public Private Partnership','30'],
								['Multilateral','40'],
								['Foundation','60'],
								['Private Sector','70'],
								['Academic Training and Research','80']], :selected => @org_data[:organization_type_id]), :class=>"wid-205") %>
	                      </div>
	                      <div class="inner_row">
	                      	<label>government id</label>
	                      	<input name="organization_guid" type="text" class="imp01" value="<%=@org_data[:organization_guid] %>"/>
	                      </div>
						<div class="inner_row last">
	                      	 <p class="inform"> In the US this would be the EIN Number </p>
	                    </div>
	                  </div>
				
				 <div class="row">
                  	<label>ORGANIZATION's country*</label>
						<%= select_tag(:organization_country, options_for_select([
							['', ''],
							['AFGHANISTAN', 'AF'],
							['ÅLAND ISLANDS', 'AX'],
							['ALBANIA', 'AL'],
							['ALGERIA', 'DZ'],
							['AMERICAN SAMOA', 'AS'],
							['ANDORRA', 'AD'],
							['ANGOLA', 'AO'],
							['ANGUILLA', 'AI'],
							['ANTARCTICA', 'AQ'],
							['ANTIGUA AND BARBUDA', 'AG'],
							['ARGENTINA', 'AR'],
							['ARMENIA', 'AM'],
							['ARUBA', 'AW'],
							['AUSTRALIA', 'AU'],
							['AUSTRIA', 'AT'],
							['AZERBAIJAN', 'AZ'],
							['BAHAMAS', 'BS'],
							['BAHRAIN', 'BH'],
							['BANGLADESH', 'BD'],
							['BARBADOS', 'BB'],
							['BELARUS', 'BY'],
							['BELGIUM', 'BE'],
							['BELIZE', 'BZ'],
							['BENIN', 'BJ'],
							['BERMUDA', 'BM'],
							['BHUTAN', 'BT'],
							['BOLIVIA, PLURINATIONAL STATE OF', 'BO'],
							['BONAIRE, SAINT EUSTATIUS AND SABA', 'BQ'],
							['BOSNIA AND HERZEGOVINA', 'BA'],
							['BOTSWANA', 'BW'],
							['BOUVET ISLAND', 'BV'],
							['BRAZIL', 'BR'],
							['BRITISH INDIAN OCEAN TERRITORY', 'IO'],
							['BRUNEI DARUSSALAM', 'BN'],
							['BULGARIA', 'BG'],
							['BURKINA FASO', 'BF'],
							['BURUNDI', 'BI'],
							['CAMBODIA', 'KH'],
							['CAMEROON', 'CM'],
							['CANADA', 'CA'],
							['CAPE VERDE', 'CV'],
							['CAYMAN ISLANDS', 'KY'],
							['CENTRAL AFRICAN REPUBLIC', 'CF'],
							['CHAD', 'TD'],
							['CHILE', 'CL'],
							['CHINA', 'CN'],
							['CHRISTMAS ISLAND', 'CX'],
							['COCOS (KEELING) ISLANDS', 'CC'],
							['COLOMBIA', 'CO'],
							['COMOROS', 'KM'],
							['CONGO', 'CG'],
							['CONGO, THE DEMOCRATIC REPUBLIC OF THE', 'CD'],
							['COOK ISLANDS', 'CK'],
							['COSTA RICA', 'CR'],
							['CÔTE D\'IVOIRE', 'CI'],
							['CROATIA', 'HR'],
							['CUBA', 'CU'],
							['CURAÇAO', 'CW'],
							['CYPRUS', 'CY'],
							['CZECH REPUBLIC', 'CZ'],
							['DENMARK', 'DK'],
							['DJIBOUTI', 'DJ'],
							['DOMINICA', 'DM'],
							['DOMINICAN REPUBLIC', 'DO'],
							['ECUADOR', 'EC'],
							['EGYPT', 'EG'],
							['EL SALVADOR', 'SV'],
							['EQUATORIAL GUINEA', 'GQ'],
							['ERITREA', 'ER'],
							['ESTONIA', 'EE'],
							['ETHIOPIA', 'ET'],
							['FALKLAND ISLANDS (MALVINAS)', 'FK'],
							['FAROE ISLANDS', 'FO'],
							['FIJI', 'FJ'],
							['FINLAND', 'FI'],
							['FRANCE', 'FR'],
							['FRENCH GUIANA', 'GF'],
							['FRENCH POLYNESIA', 'PF'],
							['FRENCH SOUTHERN TERRITORIES', 'TF'],
							['GABON', 'GA'],
							['GAMBIA', 'GM'],
							['GEORGIA', 'GE'],
							['GERMANY', 'DE'],
							['GHANA', 'GH'],
							['GIBRALTAR', 'GI'],
							['GREECE', 'GR'],
							['GREENLAND', 'GL'],
							['GRENADA', 'GD'],
							['GUADELOUPE', 'GP'],
							['GUAM', 'GU'],
							['GUATEMALA', 'GT'],
							['GUERNSEY', 'GG'],
							['GUINEA', 'GN'],
							['GUINEA-BISSAU', 'GW'],
							['GUYANA', 'GY'],
							['HAITI', 'HT'],
							['HEARD ISLAND AND MCDONALD ISLANDS', 'HM'],
							['HOLY SEE (VATICAN CITY STATE)', 'VA'],
							['HONDURAS', 'HN'],
							['HONG KONG', 'HK'],
							['HUNGARY', 'HU'],
							['ICELAND', 'IS'],
							['INDIA', 'IN'],
							['INDONESIA', 'ID'],
							['IRAN, ISLAMIC REPUBLIC OF', 'IR'],
							['IRAQ', 'IQ'],
							['IRELAND', 'IE'],
							['ISLE OF MAN', 'IM'],
							['ISRAEL', 'IL'],
							['ITALY', 'IT'],
							['JAMAICA', 'JM'],
							['JAPAN', 'JP'],
							['JERSEY', 'JE'],
							['JORDAN', 'JO'],
							['KAZAKHSTAN', 'KZ'],
							['KENYA', 'KE'],
							['KIRIBATI', 'KI'],
							['KOREA, DEMOCRATIC PEOPLE\'S REPUBLIC OF', 'KP'],
							['KOREA, REPUBLIC OF', 'KR'],
							['KUWAIT', 'KW'],
							['KYRGYZSTAN', 'KG'],
							['LAO PEOPLE\'S DEMOCRATIC REPUBLIC', 'LA'],
							['LATVIA', 'LV'],
							['LEBANON', 'LB'],
							['LESOTHO', 'LS'],
							['LIBERIA', 'LR'],
							['LIBYAN ARAB JAMAHIRIYA', 'LY'],
							['LIECHTENSTEIN', 'LI'],
							['LITHUANIA', 'LT'],
							['LUXEMBOURG', 'LU'],
							['MACAO', 'MO'],
							['MACEDONIA, THE FORMER YUGOSLAV REPUBLIC OF', 'MK'],
							['MADAGASCAR', 'MG'],
							['MALAWI', 'MW'],
							['MALAYSIA', 'MY'],
							['MALDIVES', 'MV'],
							['MALI', 'ML'],
							['MALTA', 'MT'],
							['MARSHALL ISLANDS', 'MH'],
							['MARTINIQUE', 'MQ'],
							['MAURITANIA', 'MR'],
							['MAURITIUS', 'MU'],
							['MAYOTTE', 'YT'],
							['MEXICO', 'MX'],
							['MICRONESIA, FEDERATED STATES OF', 'FM'],
							['MOLDOVA, REPUBLIC OF', 'MD'],
							['MONACO', 'MC'],
							['MONGOLIA', 'MN'],
							['MONTENEGRO', 'ME'],
							['MONTSERRAT', 'MS'],
							['MOROCCO', 'MA'],
							['MOZAMBIQUE', 'MZ'],
							['MYANMAR', 'MM'],
							['NAMIBIA', 'NA'],
							['NAURU', 'NR'],
							['NEPAL', 'NP'],
							['NETHERLANDS', 'NL'],
							['NEW CALEDONIA', 'NC'],
							['NEW ZEALAND', 'NZ'],
							['NICARAGUA', 'NI'],
							['NIGER', 'NE'],
							['NIGERIA', 'NG'],
							['NIUE', 'NU'],
							['NORFOLK ISLAND', 'NF'],
							['NORTHERN MARIANA ISLANDS', 'MP'],
							['NORWAY', 'NO'],
							['OMAN', 'OM'],
							['PAKISTAN', 'PK'],
							['PALAU', 'PW'],
							['PALESTINIAN TERRITORY, OCCUPIED', 'PS'],
							['PANAMA', 'PA'],
							['PAPUA NEW GUINEA', 'PG'],
							['PARAGUAY', 'PY'],
							['PERU', 'PE'],
							['PHILIPPINES', 'PH'],
							['PITCAIRN', 'PN'],
							['POLAND', 'PL'],
							['PORTUGAL', 'PT'],
							['PUERTO RICO', 'PR'],
							['QATAR', 'QA'],
							['REUNION', 'RE'],
							['ROMANIA', 'RO'],
							['RUSSIAN FEDERATION', 'RU'],
							['RWANDA', 'RW'],
							['SAINT BARTHÉLEMY', 'BL'],
							['SAINT HELENA, ASCENSION AND TRISTAN DA CUNHA', 'SH'],
							['SAINT KITTS AND NEVIS', 'KN'],
							['SAINT LUCIA', 'LC'],
							['SAINT MARTIN (FRENCH PART)', 'MF'],
							['SAINT PIERRE AND MIQUELON', 'PM'],
							['SAINT VINCENT AND THE GRENADINES', 'VC'],
							['SAMOA', 'WS'],
							['SAN MARINO', 'SM'],
							['SAO TOME AND PRINCIPE', 'ST'],
							['SAUDI ARABIA', 'SA'],
							['SENEGAL', 'SN'],
							['SERBIA', 'RS'],
							['SEYCHELLES', 'SC'],
							['SIERRA LEONE', 'SL'],
							['SINGAPORE', 'SG'],
							['SINT MAARTEN (DUTCH PART)', 'SX'],
							['SLOVAKIA', 'SK'],
							['SLOVENIA', 'SI'],
							['SOLOMON ISLANDS', 'SB'],
							['SOMALIA', 'SO'],
							['SOUTH AFRICA', 'ZA'],
							['SOUTH GEORGIA AND THE SOUTH SANDWICH ISLANDS', 'GS'],
							['SPAIN', 'ES'],
							['SRI LANKA', 'LK'],
							['SUDAN', 'SD'],
							['SURINAME', 'SR'],
							['SVALBARD AND JAN MAYEN', 'SJ'],
							['SWAZILAND', 'SZ'],
							['SWEDEN', 'SE'],
							['SWITZERLAND', 'CH'],
							['SYRIAN ARAB REPUBLIC', 'SY'],
							['TAIWAN, PROVINCE OF CHINA', 'TW'],
							['TAJIKISTAN', 'TJ'],
							['TANZANIA, UNITED REPUBLIC OF', 'TZ'],
							['THAILAND', 'TH'],
							['TIMOR-LESTE', 'TL'],
							['TOGO', 'TG'],
							['TOKELAU', 'TK'],
							['TONGA', 'TO'],
							['TRINIDAD AND TOBAGO', 'TT'],
							['TUNISIA', 'TN'],
							['TURKEY', 'TR'],
							['TURKMENISTAN', 'TM'],
							['TURKS AND CAICOS ISLANDS', 'TC'],
							['TUVALU', 'TV'],
							['UGANDA', 'UG'],
							['UKRAINE', 'UA'],
							['UNITED ARAB EMIRATES', 'AE'],
							['UNITED KINGDOM', 'GB'],
							['UNITED STATES', 'US'],
							['UNITED STATES MINOR OUTLYING ISLANDS', 'UM'],
							['URUGUAY', 'UY'],
							['UZBEKISTAN', 'UZ'],
							['VANUATU', 'VU'],
							['VENEZUELA, BOLIVARIAN REPUBLIC OF', 'VE'],
							['VIET NAM', 'VN'],
							['VIRGIN ISLANDS, BRITISH', 'VG'],
							['VIRGIN ISLANDS, U.S.', 'VI'],
							['WALLIS AND FUTUNA', 'WF'],
							['WESTERN SAHARA', 'EH'],
							['YEMEN', 'YE'],
							['ZAMBIA', 'ZM'],
							['ZIMBABWE', 'ZW']
							], :selected => @org_data[:organization_country]))%>
				</div>
			
				<div class="colem">
              	<h3 class="padd_top">IATI REGISTRY INFORMATION</h3>
                  <div class="row">
                  	<label>API KEY</label>
                      <input name="api_key" type="text" class="imp02" value="<%= @org_data[:api_key] %>"/>
                  </div>
                  <div class="row">
                  	<label>PACKAGE NAME</label>
                      <input name="package_name" type="text" class="imp02" value="<%=@org_data[:package_name] %>"/>
                  </div>
                  </div>
<%end%>
                  <div class="colem01">
	
	
	
			<% if session[:organization].blank? %>
          	<span><input class="inp" name="" type="submit" value="Sign in"/></span>
            <p><small><input name="conditions" type="checkbox" value="true" /></small> Yes, I accept the <a href="/conditions">terms and conditions</a></p>
			<%else%>
			<span><input class="inp" name="" type="submit" value="Edit"/></span>
             
			<%end%> 
			
                  </div>
              </fieldset>
          </form>  
    </div>
    <div class="sign_right">
    		<span>DO YOU NEED SOME HELP?</span>
          <p>You can always <a HREF="mailto:contact@openaidregister.org">contact us</a> if you have troubles on this step</p>
          <strong>We will only contact you once.</strong>

			<% if @errors %>
			<h4 id="errors">
				Errors:<br>
				<%@errors.each do |error|%>
				* <%=error%><br>
				<%end%>
			</h4>
			
			<%end%>			
	</div>
			 
	