<div class="center_content">
   
        
		<h1> Register </h1>
        
		We need this project information to get an idea of your aid project. 
		The most accurate data you can fill in, the better donors and general public will know about your project.
		<br>
		You can always <a HREF="mailto:ruthdelcampo@gmail.com">contact us</A> if you have troubles on this step.
        
       <br>
		<br>
			<br>
			  <br>
				<% if @errors %>
				<p>
					<b>Errors:</b><br>
					<%@errors.each do |error|%>
					* <%=error%><br>
					<%end%>
				</p>
				<%end%>

				<br>
				  <br>
       	<%= form_tag( :method => "post") do %>
			
			<!--
			<%= form_tag({:action => :upload}, :multipart => true) do %>
			  <%= file_field_tag 'picture' %>
			<% end %>
			
			<%= form_for :file_upload, :html => {:multipart => true} do |f| %>
			  <%= f.file_field :my_file %>
			<%= f.submit "Upload" %>
			<% end %>
			-->
			<%= radio_button_tag(:input, "file") %>
			<%= label_tag(:input_file, "Import from file") %>
			
			
			<%= radio_button_tag(:input, "form", :enabled => true) %>
			<%= label_tag(:input_form, "Fill in the form") %> 
		<br>
		<br>
			<%= label_tag(:title, "Project Title:") %>
		  	<%= text_field_tag(:title) %>
		
			<%= label_tag(:description, "Project Description:") %>
		  	<%= text_area_tag(:description, "Enter the description here", :size => "30x16") %>
		<br>
		<br>	
			<%= label_tag(:sector_type, "Sector:") %>
		<%= select_tag(:sector_type, options_for_select([['EDUCATION', 1],['HEALTH', 2], ['POPULATIONPOLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH', 3], ['WATER AND SANITATION', 4], ['COMMUNICATION', 8],['ENERGY GENERATION AND SUPPLY', 9], ['BANKING AND FINANCIAL SERVICES', 10], ['BUSINESS AND OTHER SERVICES', 11], ['AGRICULTURE', 12], ['INDUSTRY', 13], ['MINERAL RESOURCES AND MINING', 14], ['CONSTRUCTION', 15], ['TRADE POLICY AND REGULATIONS AND TRADE-RELATED ADJUSTMENT', 16], ['TOURISM', 17], ['MULTISECTOR/CROSS', 18], ['COMMODITY AID AND GENERAL PROGRAMME ASSISTANCE', 19], ['ACTION RELATING TO DEBT', 20], ['HUMANITARIAN AID', 21], ['UNALLOCATED/ UNSPECIFIED', 22]]))%>
		
		<br>
		<br>
		<%= label_tag(:project_id, "Project's ID:") %>
		<%= text_field_tag(:project_id) %>
		<br>
		Project's internal identifier Eg: 1256FB
		<br>
		<br>
		<br>
		<br>
		CALENDAR
		
			<%= check_box_tag(:permanent) %>
			<%= label_tag(:permanent, "or Permanent") %>
		<br>
		<br>
		<br>
		<br>
		GOOGLE MAPS
		<br>
		<br>
		<br>
		<br>
		<%= label_tag(:budget, "Budget:") %>
		<%= text_field_tag(:budget) %>
		in <%= select_tag(:currency, options_for_select([['US dollars', 1],['euros', 2],['Pound Sterling', 3],['Indian Rupee', 4],['Australian Dollar', 5], ['Yen', 6],['Canadian Dollar', 7]]))%>
		<br>
		<br>
		<%= label_tag(:program_id, "Program's ID:") %>
	  	<%= text_field_tag(:program_id) %>
		<br>
		Is this project funded by a program already in IATI?Introduce the IATI Identifier of the master program
			<br>
			<br>
			<%= label_tag(:donors, "Donors:") %>
		  	<%= text_field_tag(:donors) %>	
			<br>
			<br>
			
			<%= label_tag(:result_type, "Target:") %>
			<%= select_tag(:result_type, options_for_select([['Output', 1],['Outcome', 2],['Impact', 3]]))%>
			
			<%= label_tag(:results, "Results:") %>
			<%= text_area_tag(:results, "Enter the results here", :size => "30x16") %>
			
			<br>
			<br>	
			<%= check_box_tag(:same_person) %>
			<%= label_tag(:same_person, "Check this option if you are the contact person") %>
		
			
			<br>
			<br>
				<%= label_tag(:name, "Contact name:") %>
			  	<%= text_field_tag(:name) %>
			
			<%= label_tag(:email, "Contact Email:") %>
		  	<%= text_field_tag(:email) %>
			
			<br>
			<br>
		
			<%= label_tag(:position, "Contact position:") %>
			<%= text_field_tag(:position) %>
		
			
			
				<br>
				  <br>
		<%= submit_tag("Submit")  %>
		<br>
		
	<% end %>
	


   </div>    

   
  
   
 