<div class="center_content">
   
        
		<h1> Register </h1>
        
		We need this project information to get an idea of your aid project. 
		The most accurate data you can fill in, the better donors and general public will know about your project.
		<br>
		You can always <a HREF="mailto:ruthdelcampo@gmail.com">contact us</A> if you have troubles on this step.
        
       <br>
		<br>
		
       	<%= form_tag( :method => "post") do %>

			<%= radio_button_tag(:input, "file") %>
			<%= label_tag(:input_file, "Import from file") %>
			
			
			<%= form_tag({:action => :upload}, :multipart => true) do %>
			  <%= file_field_tag 'picture' %>
			<% end %>
			
			<%= radio_button_tag(:input, "form") %>
			<%= label_tag(:input_form, "Fill in the form") %>
		
		<br>
		<br>
		<%= submit_tag("Submit") %>
		<br>
		
	<% end %>
	
	<!--
	<%= form_tag( :method => "post") do %>
			<%= label_tag(:email, "Email:") %>
		  	<%= text_field_tag(:email) %>
		
		  	<%= label_tag(:password, "Password:") %>
		  	<%= password_field_tag(:password) %>	
		
		<br>
		  <br>
		
		  	<%= label_tag(:name, "Your name:") %>
		  	<%= text_field_tag(:name) %>
		  
		  	<%= label_tag(:position, "Your position:") %>
			<%= text_field_tag(:position) %>
			
			<br>
			  <br>
			
			<%= label_tag(:telephone, "Your telephone:") %>
			<%= text_field_tag(:telephone) %>
			<br>
			We need it to check you belong to this organization, but we will only contact you once.  
		<br>
		  <br>
			
			<%= label_tag(:organization, "Organization's name:") %>
		  	<%= text_field_tag(:organization) %>
		
			<%= label_tag(:org_type, "Organization's type:") %>
			<%= select_tag(:org_type, options_for_select([['International NGO', 1], ['National NGO', 2], ['Regional NGO', 3]]))%>
			
		<br>
		  <br>
			
			<%= label_tag(:org_country, "Organization's country:") %>
			<%= select_tag(:org_country, options_for_select([['Spain', 1], ['United States', 2], ['Venezuela', 3]]))%>

			
			<%= label_tag(:org_website, "Organization's website:") %>
			<%= text_field_tag(:org_website) %>
			
			<br>
		Where is your organization's based? 
		<br>
		You can also answer international  
		<br>
		<br>
			<%= label_tag(:government_id, "Government's ID:") %>
			<%= text_field_tag(:government_id) %>
			<br>
			This is the Government ID Number. For example, in the US this wold be the EIN.
			<br> 
			If you don't know it, leave it blank.
		<br>  
		<br>
		<%= check_box_tag(:conditions) %>
		<%= label_tag(:conditions, "I accept the ") %>
		<a href="/conditions">terms and conditions</a>
		<br>
		  <br>
		<%= submit_tag("Register") %>
		
		<br>
		
		Already registered? 
		<a href="/login">Sign In</a>
		<% end %>
   
	-->


   </div>    

   
  
   
 