<fieldset>
  <div class="colem">
    <h3 class="first">BASIC INFORMATION</h3>

    <div class="row">
      <label>PROJECT NAME*</label>
      <input name="title" id="title_id" type="text" class="imp01" value ="<%= @project_data[:title] %>"/>
    </div>

	  <div class="row">
      <div class="inner_row">
        <label>PROJECT ID*</label>
        <input name="project_guid" type="text" class="imp01 tip_right" id="project_guid" value ="<%= @project_data[:project_guid] %>" title="This is the project's unique identifier and should be consistent."/>
      </div>
    </div>

    <div class="row">
      <label>ORGANIZATION ROLE IN THIS PROJECT*</label>
      <%= select_tag :org_role, options_for_select([
      ['Implementing', 'Implementing'],
	    ['Funding', 'Funding'],
	    ['Accountable', 'Accountable'],
	    ['Extending', 'Extending']
      ], :selected => @project_data[:org_role]), :class => 'wid-205' %>
    </div>

    <div class="row">
      <label>PROJECT DESCRIPTION</label>
 	    <%= text_area_tag(:description, @project_data[:description]) %>
    </div>

	  <div class="row">
	    <label>SECTOR</label>
	    <ul id="sectors_list">
        <% ( @project_data[:sectors] || [] ).each do |sector| -%>
        <li>
          <div class="health">
            <a href="#"><%= sector_by_id(sector[:id]) %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
          </div>
          <input type="hidden" name="sectors[][id]" value="<%= sector[:id] %>" />
        </li>
        <% end -%>

        <li class="add_new">
          <div id="sectors_filter_container"></div>
	        <%= select_tag(:sector_id, options_for_select(SECTORS_LIST,
	 		    :selected => @project_data[:sector_id]),
          :multiple => true,
          :class => "wid-425") %>
	 		  </li>
      </ul>
      <ul>


        <li id="filter_by_letter">
        Filter list:
          <a href="#" class="sector_filter_letter" title="Show all sectors">All</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with A">A</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with B">B</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with C">C</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with D">D</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with E">E</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with F">F</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with G">G</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with H">H</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with I">I</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with J">J</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with K">K</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with L">L</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with M">M</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with N">N</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with O">O</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with P">P</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with Q">Q</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with R">R</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with S">S</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with T">T</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with U">U</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with V">V</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with W">W</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with X">X</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with Y">Y</A>
          <a href="#" class="sector_filter_letter" title="Show sectors starting with Z">Z</A>
        </li>

        <li id="filter_by_regexp">
          Search by sector name:
          <input name=regexp id="sector_filter_input">
          <input type=button id="sector_filter_reset" value="Clear">
        </li>
      </ul>
	  </div>

    <div class="row">
      <label>LANGUAGE</label>
      <select class="wid-430" name="language" selected="<%= @project_data[:language] %>">
        <option value="en">English</option>
      </select>
    </div>

    <div class="row">
      <div class="inner_row">
        <label>START DATE</label>
        <div class="callender">

          <input name="start_date" type="text" id="datepicker" value ="<%= format_date(@project_data[:start_date]) %>" />
          <input type="button" class="button"/>
        </div>
      </div>

      <div class="inner_row">
        <label>END DATE</label>
        <div class="callender">
          <input name="end_date" type="text" id="datepicker2" value ="<%= format_date(@project_data[:end_date]) %>"  />
          <input type="button" class="button" />
        </div>
      </div>

      <div class="inner_row last">
        <p class="date">Leave the end date blank if the project is permanent</p>
      </div>
    </div>

	  <div class="row">
	    <div class="inner_row">
	      <label>BUDGET</label>
	      <input name="budget" type="text" class="imp01"value ="<%= @project_data[:budget] %>"/>
	    </div>

      <div class="inner_row">
	      <label>CURRENCY</label>
	      <%= select_tag(:budget_currency, options_for_select(CURRENCY_LIST, :selected => @project_data[:budget_currency]), :class => "wid-205" )%>
	    </div>

      <div class="inner_row last">
        <p class="date">Use a dot for decimal numbers</p>
      </div>

	  </div>

    <div class="row">
      <label>PROJECT WEBSITE</label>
      <input name="website" type="text" class="imp01" value ="<%= @project_data[:website] %>"/>
    </div>
  </div>

    <div class="row">
      <div class="inner_row">
        <label>RELATED IATI ID</label>
        <input name="program_guid" type="text" class="imp01" value ="<%= @project_data[:program_guid] %>"/>
      </div>

      <div class="inner_row wid-400">
        <p class="date">If this project is part of a bigger programme or project within your organization, include here the IATI identifier.</p>
      </div>
    </div>

    <div class="row">
      <div class="inner_row">
        <label>OTHER IATI PROJECT ID</label>
        <input name="other_iati_project_identifier" type="text" class="imp01" value ="<%= @project_data[:other_iati_project_identifier] %>"/>
      </div>
      <div class="inner_row wid-400">
        <p class="date" style="padding-top:40px;">Is this project funded through an activity already recorded in IATI? If so, enter the IATI identifier of the parent activity.</p>
      </div>
    </div>

    <div id="location" class="colem">
      <h3>LOCATION</h3>
      <div class="row">
        <div class="inner_row wid-440">
          <label>WHERE IS THIS ACTIVITY TAKING PLACE? DOUBLE-CLICK TO SELECT IN MAP</label>
          <div id="map_canvas" style="width:430px; height:300px;"></div>
        </div>

        <div class="inner_row last03">
          <label>LEVEL OF DETAIL<br><br></label>
          <ul>
            <li>
              <%=	radio_button_tag 'geo_detail', 'country', current_geo_level?('country'), :class => 'geo_detail', :disabled => @project_data[:reverse_geo].present? %>
              <h6>Country</h6>
            </li>
            <li>
              <%=	radio_button_tag 'geo_detail', 'region', current_geo_level?('region'), :class => 'geo_detail', :disabled =>  @project_data[:reverse_geo].present? %>
              <h6>Region</h6>
            </li>
            <li>
              <%=	radio_button_tag 'geo_detail', 'city', current_geo_level?('city'), :class => 'geo_detail', :disabled => @project_data[:reverse_geo].present? %>
              <h6>City</h6>
            </li>
	          <li>
	            <%=	radio_button_tag 'geo_detail', 'lat_lng', current_geo_level?('lat_lng'), :class => 'geo_detail', :disabled => @project_data[:reverse_geo].present? %>
	            <h6>Lat/Long</h6>
	          </li>
          </ul>

          <ul class="reverse_geo hidden">
            <% (@project_data[:reverse_geo] || []).each_with_index do |geo, index| %>
            <li class="marker_<%= index + 1 %>">
              <input type="hidden"  name="reverse_geo[][latlng]" value="<%= geo[:latlng] %>" />
              <input type="hidden" name="reverse_geo[][adm2]" value="<%= geo[:adm2] %>" />
              <input type="hidden" name="reverse_geo[][adm1]" value="<%= geo[:adm1] %>" />
              <input type="hidden" name="reverse_geo[][country]" value="<%= geo[:country] %>" />
 	            <input type="hidden" name="reverse_geo[][country_extended]" value="<%= geo[:country_extended] %>" />
              <input type="hidden" name="reverse_geo[][level_detail]" value="<%= geo[:level_detail] %>" />
            </li>
            <% end -%>

            <input type="hidden" id="latlng" name="latlng" value="<%= @latlng %>" />
          </ul>
        </div>
        <div class="inner_row last03">
          <p class="date"> Which level of detail do your geo markers refer to?</p>
        </div>

        <div class="inner_row last03">
	        <div class="but_del"><a href="#location" id="delete_points"></a></div>
        </div>
      </div>
	  </div>

    <div class="colem">
      <h3>ORGANIZATIONS INVOLVED</h3>
      <div class="row">
        <label>OTHER PARTICIPATING ORGANIZATIONS</label>
        <ul id="participating_orgs">
          <% ( @participating_orgs || [] ).each do |participating_org| -%>
          <li>
            <div class="health">
              <a href="#"><%= participating_org.other_org_name %></a><em>AS</em>
              <a href="#" class="last"><%= participating_org.other_org_role %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
            </div>
            <%= hidden_field_tag :'participating_orgs[][name]',
            participating_org.other_org_name %>
            <%= hidden_field_tag :'participating_orgs[][role]',
            participating_org.other_org_role %>
          </li>
          <% end -%>

          <% ( params[:participating_orgs] || [] ).each do |participating_org| -%>
          <li>
            <div class="health">
              <a href="#"><%= participating_org[:name] %></a><em>AS</em>
              <a href="#" class="last"><%= participating_org[:role] %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
            </div>
            <%= hidden_field_tag :'participating_orgs[][name]',
            participating_org[:name] %>
            <%= hidden_field_tag :'participating_orgs[][role]',
            participating_org[:role] %>
          </li>
          <% end -%>

          <li class="add_new">
            <div class="inner_row">
              <label for="other_org_name">NAME</label>
              <%= text_field_tag :other_org_name, nil, :class => 'imp01' %>
            </div>

            <div class="inner_row">
              <label for="other_org_role">AS...</label>
              <%= select_tag :other_org_role, options_for_select([
              ['Accountable', '1'],
              ['Extending', '2'],
              ['Funding', '3'],
              ['Implementing', '4']
              ]), :class => 'wid-205', :include_blank => true %>
            </div>

            <div class="inner_row last02">
              <%= submit_tag '', :id => 'add_participating_org', :class => 'button_add', :disabled => true %>
            </div>
          </li>
        </ul>
      </div>
    </div>

	  <div class="trans_row">
	    <h3>TRANSACTION DATA</h3>
	    <ul id="transaction_list">
        <% ( @project_data[:transaction_list] || [] ).each do |transaction| -%>
        <li>
          <div class="health">
            <a href="#"><%= transaction[:transaction_value] %></a><em>AS</em>
            <a href="#" class="last"><%= transaction[:transaction_type] %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
          </div>
	        <%= hidden_field_tag :'transaction_list[][transaction_type]', transaction[:transaction_type] %>
	        <%= hidden_field_tag :'transaction_list[][transaction_value]', transaction[:transaction_value] %>
          <%= hidden_field_tag :'transaction_list[][transaction_currency]', transaction[:transaction_currency] %>
          <%= hidden_field_tag :'transaction_list[][transaction_date]', transaction[:transaction_date] %>
	        <%= hidden_field_tag :'transaction_list[][provider_activity_id]', transaction[:provider_activity_id] %>
          <%= hidden_field_tag :'transaction_list[][provider_name]', transaction[:provider_name] %>
	        <%= hidden_field_tag :'transaction_list[][provider_id]', transaction[:provider_id] %>
          <%= hidden_field_tag :'transaction_list[][receiver_activity_id]', transaction[:receiver_activity_id] %>
	        <%= hidden_field_tag :'transaction_list[][receiver_name]', transaction[:receiver_name] %>
          <%= hidden_field_tag :'transaction_list[][receiver_id]', transaction[:receiver_id] %>
          <%= hidden_field_tag :'transaction_list[][transaction_description]', transaction[:transaction_description] %>
        </li>
        <% end -%>

        <li class="add_new">
	        <div id="accordion">
	 	        <h3><a href="#">NEW TRANSACTION</a></h3>
	          <div class="accord_row">

	            <div class="row2">
	              <div class="inner_row">
	                <label for="transaction_type">TRANSACTION TYPE*</label>
	 		            <%= select_tag :transaction_type, options_for_select(TRANSACTION_TYPE_LIST), :class => 'wid-205' %>
	              </div>
	              <div class="inner_row">
	                <label>TRANSACTION DATE*</label>
	                <div class="callender">
	                  <input name="transaction_date" type="text" id="datepicker3" value ="<%= format_date(@project_data[:transaction_date]) %>" />
	                  <input type="button" class="button"/>
	                </div>
	              </div>
	            </div>

	            <div class="row2">
	              <div class="inner_row">
	          	    <label for="transaction_value">TRANSACTION VALUE*</label>
	  	            <%= text_field_tag :transaction_value, nil, :class => 'imp02' %>
	              </div>
	              <div class="inner_row">
	            	  <label for="transaction_currency">CURRENCY</label>
	                <%= select_tag(:transaction_currency, options_for_select(CURRENCY_LIST), :class => "wid-205" )%>
	              </div>
	            </div>

	            <div class="row2">
	              <div class="inner_row">
	                <label for="provider_activity_id">PROVIDER ACTIVITY ID</label>
	                <%= text_field_tag :provider_activity_id, nil, :class => 'imp02' %>
	              </div>
	              <div class="inner_row">
	                <label for="provider_name">PROVIDER NAME</label>
	                <%= text_field_tag :provider_name, nil, :class => 'imp02' %>
	              </div>

	              <div class="inner_row last">
	                <label for="provider_id">PROVIDER ID</label>
	                <%= text_field_tag :provider_id, nil, :class => 'imp03' %>
          			</div>
	            </div>

	            <div class="row2">
	              <div class="inner_row">
	                <label for="receiver_activity_id"> RECEIVER ACTIVITY ID</label>
	                <%= text_field_tag :receiver_activity_id, nil, :class => 'imp02' %>
	              </div>
	              <div class="inner_row">
	                <label for="receiver_name">RECEIVER NAME</label>
	                <%= text_field_tag :receiver_name, nil, :class => 'imp02' %>
	              </div>
	              <div class="inner_row last">
	                <label for="receiver_id">RECEIVER ID</label>
	                <%= text_field_tag :receiver_id, nil, :class => 'imp03' %>
	              </div>
	            </div>

	            <div class="row2">
	              <label for="transaction_description"> TRANSACTION DESCRIPTION</label>
	              <%= text_field_tag :transaction_description, nil, :class => 'imp01' %>
	            </div>

              <div class="row2">
                <%= submit_tag '', :id => 'add_transaction', :class => 'button_add', :disabled => true %>
              </div>

	          </div>
	        </div>
	      </li>
	    </ul>
	  </div>

	  <div class="colem">
	    <h3>PERFORMANCE</h3>
	    <div class="row">
	      <label>RESULT TITLE</label>
	      <input name="result_title" id= "result_title" type="text" class="imp01" value ="<%= @project_data[:result_title] %>"/>
	    </div>
	    <div class="row">
	      <label>DESCRIPTION / TARGETS</label>
	      <%= text_area_tag(:result_description, @project_data[:result_description]) %>
	    </div>
	  </div>

	  <div class="colem">
	    <h3>RELATED DOCUMENTS</h3>
	    <div class="row">
	      <ul id="related_docs">
	        <% ( @project_data[:related_docs] || [] ).each do |related_doc| -%>
	        <li>
	          <div class="health">
	            <a href="#"><%= related_doc[:doc_url] %></a><em>type</em>
	            <a href="#" class="last"><%= related_doc[:doc_type] %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
	          </div>
	          <%= hidden_field_tag :'related_docs[][doc_url]', related_doc[:doc_url] %>
	          <%= hidden_field_tag :'related_docs[][doc_type]', related_doc[:doc_type] %>
	        </li>
	        <% end -%>

	        <li class="add_new">
	          <div class="inner_row">
	            <label>DOCUMENT URL</label>
	            <%= text_field_tag :doc_url, nil, :class => 'imp01' %>
	          </div>
	          <div class="inner_row">
	            <label for="doc_type">TYPE</label>
	            <%= select_tag :doc_type, options_for_select([
	            ['Pre- and post-project impact appraisal','A01'],
	 			      ['Objectives / Purpose of activity','A02'],
	 			      ['Intended ultimate beneficiaries','A03'],
	 			      ['Conditions','A04'],
	 			      ['Budget','A05'],
	 			      ['Summary information about contract','A06'],
	 			      ['Review of project performance and evaluation','A07'],
	 			      ['Results, outcomes and outputs','A08'],
	 			      ['Memorandum of understanding (If agreed by all parties)','A09'],
	 			      ['Annual report','B01'],
	 			      ['Strategy paper','B02'],
	 			      ['Country strategy paper','B03']
	            ]), :class => 'wid-205', :include_blank => true %>
	          </div>
	          <div class="inner_row last02">
	            <%= submit_tag '', :id => 'add_doc', :class => 'button_add', :disabled => true %>
	          </div>
	        </li>
	      </ul>
	    </div>
	  </div>

    <div class="colem">
	    <h3>CONTACT DATA</h3>
	    <div class="row">
	      <ul class="patrn02">
	        <li>
	 	        <%= check_box_tag(:same_person, 1, @project_data[:same_person] =="1",
	          :class => "checkbox") %>
	          <span>Check this option if you are the contact person</span>
          </li>
	      </ul>
	      <ul>
	        <li>
	          <div class="inner_row wid-402 pad">
	            <label>CONTACT NAME</label>
	            <%= text_field_tag :contact_name, @project_data[:contact_name] %>
	          </div>
	          <div class="inner_row wid-402">
	            <label>EMAIL</label>
	            <%= text_field_tag :contact_email, @project_data[:contact_email] %>
	          </div>
	        </li>
	      </ul>
	    </div>
	  </div>


	  <div class="colem">
	    <h3 class="padd_top">CLASSIFICATION</h3>

      <div class="row">
	      <div class="inner_row wid-402">
	        <label>COLLABORATION TYPE</label>
	        <%= select_tag(:collaboration_type, options_for_select(COLLABORATION_TYPE_LIST, :selected => @project_data[:collaboration_type]), :class=>"wid-400") %>
	      </div>
	      <div class="inner_row">
	        <p class="date"> Check out<a href="http://iatistandard.org/codelists/collaboration_type"> here</a> to understand all options</p>
	      </div>
	    </div>

      <div class="row">
	      <div class="inner_row wid-402">
	        <label>TIED STATUS</label>
	        <%= select_tag(:tied_status, options_for_select(TIED_STATUS_LIST, :selected => @project_data[:tied_status]), :class=>"wid-400") %>
	      </div>
	    </div>

      <div class="row">
	      <div class="inner_row wid-402">
	        <label>AID TYPE</label>
	        <%= select_tag(:aid_type, options_for_select(AID_TYPE_LIST, :selected => @project_data[:aid_type]), :class=>"wid-400") %>
	      </div>
	    </div>

      <div class="row">
	      <div class="inner_row wid-402">
	        <label>FLOW TYPE</label>
	        <%= select_tag(:flow_type, options_for_select(FLOW_TYPE_LIST, :selected => @project_data[:flow_type]), :class=>"wid-400") %>
	      </div>
	    </div>

      <div class="row">
	      <div class="inner_row wid-402">
	        <label>FIINANCE TYPE</label>
	        <%= select_tag(:finance_type, options_for_select(FINANCE_TYPE_LIST, :selected => @project_data[:finance_type]), :class=>"wid-400") %>
	      </div>
	    </div>
	  </div>

    <input type="hidden" id="cartodb_id" name="cartodb_id" value="<%= @project_data[:cartodb_id] %>" />

    <div class="colem01">
      <span><input class="inp" type="submit" value="Submit"/></span>
    </div>
  </fieldset>
