<%= render :partial => 'project_form_javascript' %>
<%= render :partial => 'project_form_header' %>

<div id="body_container">
  <div class="registry_sec">

    <div class="registry_left">
      <div class="form_section">

        <%= form_tag project_path(), :method => :put do %>
          <%= render :partial => 'project_form' %>
        <% end %>

      </div>
    </div>

    <%= render :partial => 'project_form_registry_right' %>

  </div>
</div>
