<div class="center_content">
   
        
		<h1> Register </h1>
        
		We need this project information to get an idea of your aid project. 
		The most accurate data you can fill in, the better donors and general public will know about your project.
		<br>
		You can always <a HREF="mailto:ruthdelcampo@gmail.com">contact us</A> if you have troubles on this step.
        
       <br>
		<br>
			<br>
			  <br>
				<% if @errors %>
				<p>
					<b>Errors:</b><br>
					<%@errors.each do |error|%>
					* <%=error%><br>
					<%end%>
				</p>
				<%end%>

				<br>
				  <br>
				
	<% if !@view_project.empty? %>
	<%= @view_project %>
	<% params[:title] = @view_project.title %>
	<% params[:description] = @view_project.description %>
	<% params[:language] = @view_project.language %>
	
	<!-- //Needs to be included when sector_type is solved in CartoDB
	< params[:sector_type] = @view_project.sector_type %> 
	< params[:other_org_name] = @view_project.other_org_name %>
	< params[:other_org_role] = @view_project.other_org_role %>
	-->
	
	<% params[:project_guid] = @view_project.project_guid %>
	<% params[:start_date] = @view_project.start_date %>
	
	<% params[:end_date] = @view_project.end_date %>
	<% params[:budget] = @view_project.budget %>
	<% params[:budget_currency] = @view_project.budget_currency %>
	<% params[:website] = @view_project.website %>
	<% params[:program_guid] = @view_project.program_guid %>

	
	<% params[:result_title] = @view_project.result_title %>
	<% params[:result_description] = @view_project.result_description %>
	<% params[:contact_name] = @view_project.contact_name %>
	<% params[:contact_email] = @view_project.contact_email %>
	<% params[:contact_position] = @view_project.contact_position %>
	
	<!--here the view_params should be set to nil-->
<% @view_project = nil %>
	
<% end %>	
			
       	<%= form_tag( :method => "post") do %>
		
		<br>
			<%= label_tag(:title, "Project Title:") %>
		  	<%= text_field_tag(:title, params[:title]) %>
		
			<%= label_tag(:description, "Project Description:") %>
		  	<%= text_area_tag(:description, params[:description], :size => "30x16") %>
		<br>
			<br>
			<%= label_tag(:language, "Language:") %>
		<%= select_tag(:language, options_for_select([['english', 1]], :selected => params[:language])) %>
		<br>
			Which language are you using  when introducing your project data? By default, english is selected    
		
		
			<br>	<br>
			<%= label_tag(:sector_type, "Sector:") %>
		<%= select_tag(:sector_type, options_for_select([['', 1], ['EDUCATION', 2],['HEALTH', 3], ['POPULATIONPOLICIES/PROGRAMMES AND REPRODUCTIVE HEALTH', 4], ['WATER AND SANITATION', 5], ['COMMUNICATION', 6],['ENERGY GENERATION AND SUPPLY', 7], ['BANKING AND FINANCIAL SERVICES', 8], ['BUSINESS AND OTHER SERVICES', 9], ['AGRICULTURE', 10], ['INDUSTRY', 11], ['MINERAL RESOURCES AND MINING', 12], ['CONSTRUCTION', 13], ['TRADE POLICY AND REGULATIONS AND TRADE-RELATED ADJUSTMENT', 14], ['TOURISM', 15], ['MULTISECTOR/CROSS', 16], ['COMMODITY AID AND GENERAL PROGRAMME ASSISTANCE', 17], ['ACTION RELATING TO DEBT', 18], ['HUMANITARIAN AID', 19], ['UNALLOCATED/ UNSPECIFIED', 20]], :selected => params[:sector_type]), :multiple => true ) %>
		<br>
		You can select multiple sectors
		<br>
		<br>
		<%= label_tag(:project_guid, "Project's ID:") %>
		<%= text_field_tag(:project_guid, params[:project_guid]) %>
		<br>
		Project's internal identifier Eg: 1256FB
		<br>
		<br>
		<%= label_tag(:start_date, "Start Date") %>
		<%= date_select("start_date", "written_on", :start_year => 2000) %>
		
		<br>
		<br>
		<%= label_tag(:end_date, "End Date") %>
		<%= date_select("end_date", "written_on", :start_year => 2000) %> or 
			<%= check_box_tag(:permanent, 1, params[:permanent]=="1") %>
			<%= label_tag(:permanent, "Permanent") %>
		<br>
		<br>
		<br>
		<br>
		GOOGLE MAPS
		<br>
		<br>
		<br>
		<br>
		<%= label_tag(:budget, "Budget:") %>
		<%= text_field_tag(:budget, params[:budget]) %>
		in <%= select_tag(:budget_currency, options_for_select([['', 1], ['US dollars', 2],['euros', 3],['Pound Sterling', 4],['Indian Rupee', 5],['Australian Dollar', 6], ['Yen', 7],['Canadian Dollar', 8]], :selected => params[:budget_currency]))%>
		<br>
		<br>
		
		<%= label_tag(:website, "Project's website:") %>
		<%= text_field_tag(:website, params[:website]) %>
		
		<br>
		<br>
		<%= label_tag(:program_guid, "Program's ID:") %>
	  	<%= text_field_tag(:program_guid, params[:program_guid]) %>
		<br>
		Is this project funded by a program already in IATI?Introduce the IATI Identifier of the master program
			<br>
			<br>
			<%= label_tag(:other_org_name, "Other organizations:") %>
		  	<%= text_field_tag(:other_org_name, params[:other_org_name], :disabled => 'true') %>
			<%= label_tag(:other_org_role, "Their role:") %>
		  	<%= select_tag(:other_org_role, options_for_select([['implementing', 1], ['', 2],['funding', 3],['extending', 4],['accountable', 5]], :selected => params[:budget_currency]), :disabled => 'true') %>	
			<br>
			It will be available soon
			<br>
			<br>
			
			<%= label_tag(:result_title, "Result's title:") %>
		<%= text_field_tag(:result_title, params[:result_title]) %>
			<%= label_tag(:result_description, "Result's Description:") %>
			<%= text_area_tag(:result_description, params[:result_description], :size => "30x16") %>
			
			<br>
			<br>	
			<%= check_box_tag(:same_person, 1, params[:same_person]=="1") %>
			<%= label_tag(:same_person, "Check this option if you are the contact person") %>
		
			
			<br>
			<br>
				<%= label_tag(:contact_name, "Contact name:") %>
			  	<%= text_field_tag(:contact_name, params[:name]) %>
			
			<%= label_tag(:contact_email, "Contact Email:") %>
		  	<%= text_field_tag(:contact_email, params[:contact_email]) %>
			
			<br>
			<br>
		
			<%= label_tag(:contact_position, "Contact position:") %>
			<%= text_field_tag(:contact_position, params[:contact_position]) %>
		
			
			
				<br>
				  <br>
		<%= submit_tag("Submit")  %>
		

		
		<script>
			/* $("input[@name='input']").change(function(){
			    if ($("input[@name='input']:checked").val() == 'file'){
			 // Code for handling value 'file'        
			  $("#method").attr('disabled', 'disabled');
			  }else {
			 	$("title", this).attr('disabled', 'disabled');
				}});
				*/
		</script>
	
		<br>
		
	<% end %>
	
	


   </div>    

   
  
   
 