<% content_for :head do %>
<script>
  var contact_name = '<%= session[:organization][:contact_name] %>';
  var contact_email = '<%= session[:organization][:email] %>';
</script>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<%= javascript_include_tag "project_form" %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<% end %>

<div class="logo">
      <h1 class="wid"><a href="/project" title="openAid Home">Register new project</a><img src="/images/plus_icon.png" alt="" class="png"/>
    </div>
    <div class="header_text">
      <p>We need this project information to build the XML dataset. The most accurate data you can fill in, the better donors and general public will know about your project.</p>
    </div>
  </div>
  <div id="body_container">
    <div class="registry_sec">
      <div class="registry_left">
        <div class="form_section">
          <%= form_tag( :method => "post") do %>
            <fieldset>
              <div class="colem">
                <h3 class="first">BASIC INFORMATION</h3>
                <div class="row">
                  <label>PROJECT NAME*</label>
                  <input name="title" type="text" class="imp01" value ="<%=@project_data[:title]%>"/>
                </div>
                <div class="row">
                  <label>PROJECT DESCRIPTION</label>
 				<%= text_area_tag(:description, @project_data[:description]) %>
                </div>
                <div class="row">

					<div class="row">
	                  <label>SECTOR</label>
					   <ul id="sectors_list">
              <% ( params[:sectors] || [] ).each do |sector| -%>
                <li>
                  <div class="health"><a href="#"><%= sector_by_id(sector[:id]) %>&nbsp;<img src="/images/cross.gif" alt="" /></a></div>
                  <input type="hidden" name="sectors[][id]" value="<%= sector[:id] %>" />
                </li>
              <% end -%>
              <% ( @sectors || [] ).each do |sector| -%>
                <li>
                  <div class="health"><a href="#"><%= sector_by_id(sector[:id]) %>&nbsp;<img src="/images/cross.gif" alt="" /></a></div>
                  <input type="hidden" name="sectors[][id]" value="<%= sector[:id] %>" />
                </li>
              <% end -%>
		          <li class="add_new">
	 					<%= select_tag(:sector_id, options_for_select(sectors_list,
									:selected => @project_data[:sector_id]), :multiple => true, :class => "wid-425"  ) %>
									   </li>
					                  </ul>
	                </div>

                <div class="row">
                  <label>LANGUAGE</label>
                  <select class="wid-430" name="language" selected="<%=@project_data[:language]%>">
                    <option value="1">English</option>
                    <option></option>
                  </select>
                </div>
                <div class="row">
                  <div class="inner_row">
                    <label>PROJECT ID*</label>
                    <input name="project_guid" type="text" class="imp01" value ="<%=@project_data[:project_guid]%>"/>
                  </div>
                </div>
                <div class="row">
                  <div class="inner_row">
                    <label>START DATE</label>
                    <div class="callender">
                      <input name="start_date" type="text" id="datepicker" value ="<%= format_date(@project_data[:start_date]) %>" />
                      <input type="button" class="button" id="datepicker"/>
                    </div>
                  </div>
                  <div class="inner_row">
                    <label>END DATE</label>
                    <div class="callender">
                      <input name="end_date" type="text" id="datepicker2" value ="<%= format_date(@project_data[:end_date]) %>"  />
                      <input type="button" class="button" />
                    </div>
                  </div>
                  <div class="inner_row last">
                    <p class="date">Leave the end date blank if the project is permanent</p>
                  </div>
                </div>

				 <div class="row">
	              	<div class="inner_row">
	                	<label>BUDGET</label>
	                 	<input name="budget" type="text" class="imp01"value ="<%=@project_data[:budget]%>"/>
	                </div>
	                <div class="inner_row">
	                  	<label>CURRENCY</label>

						<%= select_tag(:budget_currency, options_for_select([
						['',''],
						['Afghani','AFN'],
						['UAE Dirham','AED'],
						['Lek','ALL'],
						['Armenian Dram','AMD'],
						['Netherlands Antillian Guilder','ANG'],
						['Kwanza','AOA'],
						['Argentine Peso','ARS'],
						['Australian Dollar','AUD'],
						['Aruban Guilder','AWG'],
						['Azerbaijanian Manat','AZN'],
						['Convertible Marks','BAM'],
						['Barbados Dollar','BBD'],
						['Taka','BDT'],
						['Bulgarian Lev','BGN'],
						['Bahraini Dinar','BHD'],
						['Burundi Franc','BIF'],
						['Bermudian Dollar','BMD'],
						['Brunei Dollar','BND'],
						['Boliviano','BOB'],
						['Mvdol','BOV'],
						['Brazilian Real','BRL'],
						['Bahamian Dollar','BSD'],
						['Ngultrum','BTN'],
						['Pula','BWP'],
						['Belarussian Ruble','BYR'],
						['Belize Dollar','BZD'],
						['Canadian Dollar','CAD'],
						['Congolese Franc','CDF'],
						['Swiss Franc','CHF'],
						['Unidades de fomento','CLF'],
						['Chilean Peso','CLP'],
						['Yuan Renminbi','CNY'],
						['Colombian Peso','COP'],
						['Unidad de Valor Real','COU'],
						['Costa Rican Colon','CRC'],
						['Peso Convertible','CUC'],
						['Cuban Peso','CUP'],
						['Cape Verde Escudo','CVE'],
						['Czech Koruna','CZK'],
						['Djibouti Franc','DJF'],
						['Danish Krone','DKK'],
						['Dominican Peso','DOP'],
						['Algerian Dinar','DZD'],
						['Kroon','EEK'],
						['Egyptian Pound','EGP'],
						['Nakfa','ERN'],
						['Ethiopian Birr','ETB'],
						['Euro','EUR'],
						['Fiji Dollar','FJD'],
						['Falkland Islands Pound','FKP'],
						['Pound Sterling','GBP'],
						['Lari','GEL'],
						['Cedi','GHS'],
						['Gibraltar Pound','GIP'],
						['Dalasi','GMD'],
						['Guinea Franc','GNF'],
						['Quetzal','GTQ'],
						['Guyana Dollar','GYD'],
						['Hong Kong Dollar','HKD'],
						['Lempira','HNL'],
						['Croatian Kuna','HRK'],
						['Gourde','HTG'],
						['Forint','HUF'],
						['Rupiah','IDR'],
						['New Israeli Sheqel','ILS'],
						['Indian Rupee','INR'],
						['Iraqi Dinar','IQD'],
						['Iranian Rial','IRR'],
						['Iceland Krona','ISK'],
						['Jamaican Dollar','JMD'],
						['Jordanian Dinar','JOD'],
						['Yen','JPY'],
						['Kenyan Shilling','KES'],
						['Som','KGS'],
						['Riel','KHR'],
						['Comoro Franc','KMF'],
						['North Korean Won','KPW'],
						['Won','KRW'],
						['Kuwaiti Dinar','KWD'],
						['Cayman Islands Dollar','KYD'],
						['Tenge','KZT'],
						['Kip','LAK'],
						['Lebanese Pound','LBP'],
						['Sri Lanka Rupee','LKR'],
						['Liberian Dollar','LRD'],
						['Loti','LSL'],
						['Lithuanian Litas','LTL'],
						['Latvian Lats','LVL'],
						['Libyan Dinar','LYD'],
						['Moroccan Dirham','MAD'],
						['Moldovan Leu','MDL'],
						['Malagasy Ariary','MGA'],
						['Denar','MKD'],
						['Kyat','MMK'],
						['Tugrik','MNT'],
						['Pataca','MOP'],
						['Ouguiya','MRO'],
						['Mauritius Rupee','MUR'],
						['Rufiyaa','MVR'],
						['Malawi Kwacha','MWK'],
						['Mexican Peso','MXN'],
						['Mexican Unidad de Inversion (UDI)','MXV'],
						['Malaysian Ringgit','MYR'],
						['Metical','MZN'],
						['Namibia Dollar','NAD'],
						['Naira','NGN'],
						['Cordoba Oro','NIO'],
						['Norwegian Krone','NOK'],
						['Nepalese Rupee','NPR'],
						['New Zealand Dollar','NZD'],
						['Rial Omani','OMR'],
						['Balboa','PAB'],
						['Nuevo Sol','PEN'],
						['Kina','PGK'],
						['Philippine Peso','PHP'],
						['Pakistan Rupee','PKR'],
						['Zloty','PLN'],
						['Guarani','PYG'],
						['Qatari Rial','QAR'],
						['New Leu','RON'],
						['Serbian Dinar','RSD'],
						['Russian Ruble','RUB'],
						['Rwanda Franc','RWF'],
						['Saudi Riyal','SAR'],
						['Solomon Islands Dollar','SBD'],
						['Seychelles Rupee','SCR'],
						['Sudanese Pound','SDG'],
						['Swedish Krona','SEK'],
						['Singapore Dollar','SGD'],
						['Saint Helena Pound','SHP'],
						['Leone','SLL'],
						['Somali Shilling','SOS'],
						['Surinam Dollar','SRD'],
						['Dobra','STD'],
						['El Salvador Colon','SVC'],
						['Syrian Pound','SYP'],
						['Lilangeni','SZL'],
						['Baht','THB'],
						['Somoni','TJS'],
						['Manat','TMT'],
						['Tunisian Dinar','TND'],
						['Paanga','TOP'],
						['Turkish Lira','TRY'],
						['Trinidad and Tobago Dollar','TTD'],
						['New Taiwan Dollar','TWD'],
						['Tanzanian Shilling','TZS'],
						['Hryvnia','UAH'],
						['Uganda Shilling','UGX'],
						['US Dollar','USD'],
						['US Dollar (Next day)','USN'],
						['US Dollar (Same day)','USS'],
						['Uruguay Peso en Unidades Indexadas','UYI'],
						['Peso Uruguayo','UYU'],
						['Uzbekistan Sum','UZS'],
						['Bolivar Fuerte','VEF'],
						['Dong','VND'],
						['Vatu','VUV'],
						['Tala','WST'],
						['CFA Franc BEAC','XAF'],
						['East Caribbean Dollar','XCD'],
						['CFA Franc BCEAO','XOF'],
						['CFP Franc','XPF'],
						['Yemeni Rial','YER'],
						['Rand','ZAR'],
						['Zambian Kwacha','ZMK'],
						['Zimbabwe Dollar','ZWL']], :selected => @project_data[:budget_currency]), :class => "wid-205" )%>

	                </div>
	             </div>

                <div class="row">
                  <label>PROJECT WEBSITE</label>
                  <input name="website" type="text" class="imp01" value ="<%=@project_data[:website]%>"/>
                </div>
              </div>
              <div id="location" class="colem">
                <h3>LOCATION</h3>
                <div class="row">
					<div class="inner_row wid-440">
                  <label>SELECT IN THE MAP</label>
                  <div id="map_canvas" style="width:430px; height:300px;"></div>
					</div>

					<div class="inner_row last03">
						 <label>LEVEL OF DETAIL</label>
							<ul>
			                    <li>
                            <%=	radio_button_tag 'geo_detail', 'country', false, :class => 'geo_detail' %>
					   	<h6>Country</h6>

								</li>
					 			<li>
                  <%=	radio_button_tag 'geo_detail', 'region', false, :class => 'geo_detail' %>
						 			<h6>Region</h6>
								</li>
	                    		<li>
                            <%=	radio_button_tag 'geo_detail', 'city', true, :class => 'geo_detail' %>
									<h6> City </h6>
								</li>
							</ul>
					<ul class="reverse_geo">
						<% (@reverse_geo || []).each do |geo| %>
						<li>
							<input type="hidden" name="reverse_geo[][latlng]" value="<%= geo.latlng %>" />
						    <input type="hidden" name="reverse_geo[][adm2]" value="<%= geo.adm2 %>" />
						    <input type="hidden" name="reverse_geo[][adm1]" value="<%= geo.adm1 %>" />
						    <input type="hidden" name="reverse_geo[][country]" value="<%= geo.country %>" />
						    <input type="hidden" name="reverse_geo[][level_detail]" value="<%= geo.level_detail %>" />	
						</li>
						<% end -%>
					</ul>
					</div>
						<div class="inner_row last03">
							<p class="date"> Which level of detail do your geo markers refer to?</p>
						</div>			
                </div>
              <div class="colem">
                <h3>ORGANIZATIONS INVOLVED</h3>
                <div class="row">
                  <div class="inner_row">
                    <label>PARTNER ACTIVITY ID</label>
                    <input name="program_guid" type="text" class="imp01" value ="<%=@project_data[:program_guid]%>"/>
                  </div>
                  <div class="inner_row wid-400">
                    <p class="date">Is this project funded by a program already in IATI?
                      Introduce the IATI Identifier of the master program</p>
                  </div>
                </div>

                <div class="row">
                <label>OTHER PARTICIPATING ORGANIZATIONS</label>
                  <ul id="participating_orgs">
                    <% ( @participating_orgs || [] ).each do |participating_org| -%>
                      <li>
                        <div class="health">
                          <a href="#"><%= participating_org.other_org_name %></a><em>AS</em>
                          <a href="#" class="last"><%= participating_org.other_org_role %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
                        </div>
                        <%= hidden_field_tag :'participating_orgs[][name]', participating_org.other_org_name %>
                        <%= hidden_field_tag :'participating_orgs[][role]', participating_org.other_org_role %>
                      </li>
                    <% end -%>
                    <% ( params[:participating_orgs] || [] ).each do |participating_org| -%>
                      <li>
                        <div class="health">
                          <a href="#"><%= participating_org[:name] %></a><em>AS</em>
                          <a href="#" class="last"><%= participating_org[:role] %>&nbsp;<img src="/images/cross.gif" alt="" /></a>
                        </div>
                        <%= hidden_field_tag :'participating_orgs[][name]', participating_org[:name] %>
                        <%= hidden_field_tag :'participating_orgs[][role]', participating_org[:role] %>
                      </li>
                    <% end -%>
                    <li class="add_new">
                      <div class="inner_row">
                        <label for="other_org_name">NAME</label>
                        <%= text_field_tag :other_org_name, nil, :class => 'imp01' %>
                      </div>
                      <div class="inner_row">
                        <label for="other_org_role">AS...</label>
                        <%= select_tag :other_org_role, options_for_select([
                          ['accountable', '1'],
                          ['extending', '2'],
                          ['funding', '3'],
                          ['implementing', '4']
                        ]), :class => 'wid-205', :include_blank => true %>
                      </div>
                      <div class="inner_row last02">
                        <%= submit_tag '', :id => 'add_partipating_org', :class => 'button_add' %>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="colem">
                <h3>PERFORMANCE</h3>
                <div class="row">
                  <label>RESULT TITLE</label>
                  <input name="result_title" type="text" class="imp01" value ="<%=@project_data[:result_title]%>"/>
                </div>
                <div class="row">
                  <label>DESCRIPTION / TARGETS</label>
					<%= text_area_tag(:result_description, @project_data[:result_description]) %>
                </div>
              </div>
              <div class="colem">
                <h3>CONTACT DATA</h3>
                <div class="row">
                  <ul class="patrn02">
                    <li>
						<%= check_box_tag(:same_person, 1, @project_data[:same_person] =="1",
					 :class => "checkbox") %>

                      <span>Check this option if you are the contact person</span> </li>
                  </ul>
                  <ul>
                    <li>
                      <div class="inner_row wid-402 pad">
                        <label>CONTACT NAME</label>
                        <%= text_field_tag :contact_name, @project_data[:contact_name] %>
                      </div>
                      <div class="inner_row wid-402">
                        <label>EMAIL</label>
                        <%= text_field_tag :contact_email, @project_data[:contact_email] %>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
				<div class="colem">
	                <h3 class="padd_top">CLASSIFICATION</h3>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>COLLABORATION TYPE</label>
	                    	<%= select_tag(:collaboration_type, options_for_select([['', ''],['Aid through NGOs', 5],['Aid to NGOs', 6],['Aid through PPPs', 7]], :selected => @project_data[:collaboration_type]), :class=>"wid-400") %>
	                  </div>
	                  <div class="inner_row">
	                    <p class="date"> Check out<a hre="http://iatistandard.org/codelists/finance_type"> here</a> to understand all options</p>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>TIED STATUS</label>
	                   <%= select_tag(:tied_status, options_for_select([
						['', ''],
						['Partially tied', 3],
						['Tied', 4],
						['Untied', 5]], :selected => @project_data[:tied_status]), :class=>"wid-400") %>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>AID TYPE</label>
						<%= select_tag(:aid_type, options_for_select([['', ''],
							['General budget support','A01'],
								['Sector budget support','A02'],
								['Core support to NGOs, other private bodies, PPPs and research institutes','B01'],
								['Core contributions to multilateral institutions','B02'],
								['Contributions to specific-purpose programmes and funds managed by international organisations','B03'],
								['Basket funds/pooled funding','B04'],
								['Project-type interventions','C01'],
								['Donor country personnel','D01'],
								['Other technical assistance','D02'],
								['Scholarships/training in donor country','E01'],
								['Imputed student costs','E02'],
								['Debt relief','F01'],
								['Administrative costs not included elsewhere','G01'],
								['Development awareness','H01'],
								['Refugees in donor countries','H02']], :selected => @project_data[:aid_type]), :class=>"wid-400") %>

	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>FLOW TYPE</label>
	                    <%= select_tag(:flow_type, options_for_select([['', ''],
						['Official development assistance (ODA)','10'],
								['Other official flows (OOF)','20'],
								['PRIVATE NGO','30'],
								['	PRIVATE MARKET','35']], :selected => @project_data[:flow_type]), :class=>"wid-400") %>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>FIINANCE TYPE</label>
	                     	<%= select_tag(:finance_type, options_for_select([['', '']	,
								['Aid grant excluding debt reorganisation','110'],
								['Subsidies to national private investors','111'],
								['Interest subsidy grant in AF','210'],
								['Interest subsidy to national private exporters','211'],
								['Deposit basis','310'],
									['Encashment basis','311'],
									['Aid loan excluding debt reorganisation','410'],
									['Investment-related loan to developing countries','411'],
									['Loan in a joint venture with the recipient','412'],
								['Loan to national private investor','413'],
								['Loan to national private exporter','414'],
								['Non-banks guaranteed export credits','451'],
								['Non-banks non-guaranteed portions of guaranteed export credits','452'],
								['Bank export credits','453'],
								['Acquisition of equity as part of a joint venture with the recipient','510'],
								['Acquisition of equity not part of joint venture in developing countries','511'],
								['Other acquisition of equity','512'],
							['Debt forgiveness: ODA claims (P)','610'],
							['Debt forgiveness: ODA claims (I)','611'],
							['Debt forgiveness: OOF claims (P)','612'],
							['Debt forgiveness: OOF claims (I)','613'],
							['Debt forgiveness: Private claims (P)','614'],
							['Debt forgiveness: Private claims (I)','615'],
							['Debt forgiveness: OOF claims (DSR)','616'],
							['Debt forgiveness: Private claims (DSR)','617'],
							['Debt forgiveness: Other','618'],
							['Debt rescheduling: ODA claims (P)','620'],
							['Debt rescheduling: ODA claims (I)','621'],
							['Debt rescheduling: OOF claims (P)','622'],
							['Debt rescheduling: OOF claims (I)','623'],
							['Debt rescheduling: Private claims (P)','624'],
							['Debt rescheduling: Private claims (I)','625'],
							['Debt rescheduling: OOF claims (DSR)','626'],
							['Debt rescheduling: Private claims (DSR)','627'],
							['Unicode Encode Error','630'],
							['Unicode Encode Error','631'],
							['Unicode Encode Error','632'],
							['Foreign direct investment','710'],
							['Other foreign direct investment, including reinvested earnings','711'],
							['Bank bonds','810'],
							['Non-bank bonds','811'],
							['Other bank securities/claims','910'],
							['Other non-bank securities/claims','911'],
							['Securities and other instruments issued by multilateral agencies','912']], :selected => @project_data[:finance_type]), :class=>"wid-400") %>
	                  </div>
	                </div>
	              </div>
					<input type="hidden" id="cartodb_id" name="cartodb_id" value="<%=@project_data[:cartodb_id]%>" />
				<input type="hidden" id="google_markers" name="google_markers" value="<%=@project_data[:google_markers]%>" />
              <div class="colem01"> <span>
                <input class="inp" type="submit" value="Submit"/>
                </span> </div>
            </fieldset>
          <% end %>
        </div>
      </div>
      <div class="registry_right">
        <div class="top_section">
          <h4><img src="/images/do_help02.gif" alt="" /></h4>
          <p>If you have doubts of how to fill in this form you can always check an example or <a HREF="mailto:contact@openaidregister.org">contact us </a>with your questions.</p>
        </div>
        <div class="process">
          <h4> PROCCESS OVERVIEW</h4>
          <div class="slide">
            <div class="slider"><a href="#"><img src="/images/slider.gif" alt="" /></a></div>
          </div>
          <p>You've completed more than a half of the form. You are almost done! :)</p>
          <ul>
			<% if @errors.length>0 %>
			<h5 id="errors"><b>Errors:</b></h5>
			<%@errors.each do |error|%>
			<li>
				<%=error%><br>
				</li><%end%>
				<%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
