<% content_for :head do %>
<script type="text/javascript"
    src="http://maps.googleapis.com/maps/api/js?sensor=false">
</script>
<script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">
</script>
<%= javascript_include_tag "project_form" %>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<% end %>

<div class="logo">
      <h1 class="wid"><a href="index.html" title="openAid Home">Register new project</a><img src="/images/plus_icon.png" alt="" class="png"
    </div>
    <div class="header_text">
      <p>We need this project information to build the XML dataset. The most accurate data you can fill in, the better donors and general public will know about your project.</p>
    </div>
  </div>
<%debugger%>
  <div id="body_container">
    <div class="registry_sec">
      <div class="registry_left">
        <div class="form_section">
          <%= form_tag( :method => "post") do %>
            <fieldset>
              <div class="colem">
                <h3 class="first">BASIC INFORMATION</h3>
                <div class="row">
                  <label>PROJECT NAME</label>
                  <input name="title" type="text" class="imp01" value ="<%=@project_data[:title]%>"/>
                </div>
                <div class="row">
                  <label>PROJECT DESCRIPTION</label>
 				<%= text_area_tag(:description, @project_data[:description]) %>
                </div>
                <div class="row">
	
					<div class="row">
	                  <label>SECTOR</label>
					   <ul>
		                    <li>
		                      <div class="health"><a href="#">Health <img src="/images/cross.gif" alt="" /></a></div>
	 					<%= select_tag(:sector_id, options_for_select([	
							['Teacher training',	'2'],
							['Education facilities and training',	'1'],
							['Educational research',	'3'],
							['Primary education',	'4'],
							['Basic life skills for youth and adults',	'5'],
							['Early childhood education',	'6'],
							['Secondary education',	'7'],
							['Vocational training',	'8'],
							['Higher education',	'9'],
							['Advanced technical and managerial training',	'10'],
							['Health policy and administrative management',	'11'],
							['Medical education/training',	'12'],
							['Medical research',	'13'],
							['Medical services',	'14'],
							['Basic health care',	'15'],
							['Basic health infrastructure',	'16'],
							['Basic nutrition',	'17'],
							['Infectious disease control',	'18'],
							['Health education',	'19'],
							['Malaria control',	'20'],
							['Tuberculosis control',	'21'],
							['Health personnel development',	'22'],
							['Population policy and administrative management',	'23'],
							['Reproductive health care',	'24'],
							['Family planning',	'25'],
							['STD control including HIV/AIDS',	'26'],
							['Personnel development for population and reproductive health',	'27'],
							['Water resources policy and administrative management',	'28'],
							['Water resources protection',	'29'],
							['Water supply and sanitation - large systems',	'30'],
							['Basic drinking water supply and basic sanitation',	'31'],
							['River development',	'32'],
							['Waste management/disposal',	'33'],
							['Education and training in water supply and sanitation',	'34'],
							['Economic and development policy/planning',	'35'],
							['Public sector financial management',	'36'],
							['Legal and judicial development',	'37'],
							['Government administration',	'38'],
							['Strengthening civil society',	'39'],
							['Elections',	'40'],
							['Human rights',	'41'],
							['Free flow of information',	'42'],
							['Womens equality organisations and institutions',	'43'],
							['Security system management and reform',	'44'],
							['Civilian peace-building, conflict prevention and resolution',	'45'],
							['Post-conflict peace-building (UN)',	'46'],
							['Reintegration and SALW control',	'47'],
							['Land mine clearance',	'48'],
							['Child soldiers (Prevention and demobilisation)',	'49'],
							['Social/ welfare services',	'50'],
							['Employment policy and administrative management',	'51'],
							['Housing policy and administrative management',	'52'],
							['Low-cost housing',	'53'],
							['Multisector aid for basic social services',	'54'],
							['Culture and recreation',	'55'],
							['Statistical capacity building',	'56'],
							['Narcotics control',	'57'],
							['Social mitigation of HIV/AIDS',	'58'],
							['Transport policy and administrative management',	'59'],
							['Road transport',	'60'],
							['Rail transport',	'61'],
							['Water transport',	'62'],
							['Air transport',	'63'],
							['Storage',	'64'],
							['Education and training in transport and storage',	'65'],
							['Communications policy and administrative management',	'66'],
							['Telecommunications',	'67'],
							['Radio/television/print media',	'68'],
							['Information and communication technology (ICT)',	'69'],
							['Energy policy and administrative management',	'70'],
							['Power generation/non-renewable sources',	'71'],
							['Power generation/renewable sources',	'72'],
							['Electrical transmission/ distribution',	'73'],
							['Gas distribution',	'74'],
							['Oil-fired power plants',	'75'],
							['Gas-fired power plants',	'76'],
							['Coal-fired power plants',	'77'],
							['Nuclear power plants',	'78'],
							['Hydro-electric power plants',	'79'],
							['Geothermal energy',	'80'],
							['Solar energy',	'81'],
							['Wind power',	'82'],
							['Ocean power',	'83'],
							['Biomass',	'84'],
							['Energy education/training',	'85'],
							['Energy research',	'86'],
							['Financial policy and administrative management',	'87'],
							['Monetary institutions',	'88'],
							['Formal sector financial intermediaries',	'89'],
							['Informal/semi-formal financial intermediaries',	'90'],
							['Education/training in banking and financial services',	'91'],
							['Business support services and institutions',	'92'],
							['Privatisation',	'93'],
							['Agricultural policy and administrative management',	'94'],
							['Agricultural development',	'95'],
							['Agricultural land resources',	'96'],
							['Agricultural water resources',	'97'],
							['Agricultural inputs',	'98'],
							['Food crop production',	'99'],
							['Industrial crops/export crops',	'100'],
							['Livestock',	'101'],
							['Agrarian reform',	'102'],
							['Agricultural alternative development',	'103'],
							['Agricultural extension',	'104'],
							['Agricultural education/training',	'105'],
							['Agricultural research',	'106'],
							['Agricultural services',	'107'],
							['Plant and post-harvest protection and pest control',	'108'],
							['Agricultural financial services',	'109'],
							['Agricultural co-operatives',	'110'],
							['Livestock/veterinary services',	'111'],
							['Forestry policy and administrative management',	'112'],
							['Forestry development',	'113'],
							['Fuelwood/charcoal',	'114'],
							['Forestry education/training',	'115'],
							['Forestry research',	'116'],
							['Forestry services',	'117'],
							['Fishing policy and administrative management',	'118'],
							['Fishery development',	'119'],
							['Fishery education/training',	'120'],
							['Fishery research',	'121'],
							['Fishery services',	'122'],
							['Industrial policy and administrative management',	'123'],
							['Industrial development',	'124'],
							['Small and medium-sized enterprises (SME) development',	'125'],
							['Cottage industries and handicraft',	'126'],
							['Agro-industries',	'127'],
							['Forest industries',	'128'],
							['Textiles, leather and substitutes',	'129'],
							['Chemicals',	'130'],
							['Fertilizer plants',	'131'],
							['Cement/lime/plaster',	'132'],
							['Energy manufacturing',	'133'],
							['Pharmaceutical production',	'134'],
							['Basic metal industries',	'135'],
							['Non-ferrous metal industries',	'136'],
							['Engineering',	'137'],
							['Transport equipment industry',	'138'],
							['Technological research and development',	'139'],
							['Mineral/mining policy and administrative management',	'140'],
							['Mineral prospection and exploration',	'141'],
							['Coal',	'142'],
							['Oil and gas',	'143'],
							['Ferrous metals',	'144'],
							['Nonferrous metals',	'145'],
							['Precious metals/materials',	'146'],
							['Industrial minerals',	'147'],
							['Fertilizer minerals',	'148'],
							['Offshore minerals',	'149'],
							['Construction policy and administrative management',	'150'],
							['Trade policy and administrative management',	'151'],
							['Trade facilitation',	'152'],
							['Regional trade agreements (RTAs)',	'153'],
							['Multilateral trade negotiations',	'154'],
							['Trade-related adjustment',	'155'],
							['Trade education/training',	'156'],
							['Tourism policy and administrative management',	'157'],
							['Environmental policy and administrative management',	'158'],
							['Biosphere protection',	'159'],
							['Bio-diversity',	'160'],
							['Site preservation',	'161'],
							['Flood prevention/control',	'162'],
							['Environmental education/ training',	'163'],
							['Environmental research',	'164'],
							['Multisector aid',	'165'],
							['Urban development and management',	'166'],
							['Rural development',	'167'],
							['Non-agricultural alternative development',	'168'],
							['Multisector education/training',	'169'],
							['Research/scientific institutions',	'170'],
							['General budget support',	'171'],
							['Food aid/Food security programmes',	'172'],
							['Import support (capital goods)',	'173'],
							['Import support (commodities)',	'174'],
							['Action relating to debt',	'175'],
							['Debt forgiveness',	'176'],
							['Relief of multilateral debt',	'177'],
							['Rescheduling and refinancing',	'178'],
							['Debt for development swap',	'179'],
							['Other debt swap',	'180'],
							['Debt buy-back',	'181'],
							['Material relief assistance and services',	'182'],
							['Emergency food aid',	'183'],
							['Relief co-ordination; protection and support services',	'184'],
							['Reconstruction relief and rehabilitation',	'185'],
							['Disaster prevention and preparedness',	'186'],
							['Administrative costs',	'187'],
							['Support to national NGOs',	'188'],
							['Support to international NGOs',	'189'],
							['Support to local and regional NGOs',	'190'],
							['Refugees in donor countries',	'191'],
							['Sectors not specified',	'192'],
							['Promotion of development awareness',	'193']],
									:selected => @project_data[:sector_id]), :multiple => true, :class => "wid-425"  ) %>
									   </li>
					                  </ul>
	                </div>
	               
                <div class="row">
                  <label>LANGUAGE</label>
                  <select class="wid-430" name="language" selected="<%=@project_data[:language]%>">
                    <option value="1">English</option>
                    <option></option>
                  </select>
                </div>
                <div class="row">
                  <div class="inner_row">
                    <label>PROJECT ID</label>
                    <input name="project_guid" type="text" class="imp01" value ="<%=@project_data[:project_guid]%>"/>
                  </div>
                </div>
                <div class="row">
                  <div class="inner_row">
                    <label>START DATE</label>
                    <div class="callender">
                      <input name="start_date" type="text" id="datepicker" value ="<%=@project_data[:start_date]%>" />
                      <input type="button" class="button" id="datepicker"/>
                    </div>
                  </div>
                  <div class="inner_row">
                    <label>END DATE</label>
                    <div class="callender">
                      <input name="end_date" type="text" id="datepicker2" value ="<%=@project_data[:end_date]%>"  />
                      <input type="button" class="button" />
                    </div>
                  </div>
                  <div class="inner_row last">
                    <p class="date">Leave the end date blank if the project is permanent</p>
                  </div>
                </div>

				 <div class="row">
	              	<div class="inner_row">
	                	<label>BUDGET</label>
	                 	<input name="budget" type="text" class="imp01"value ="<%=@project_data[:budget]%>"/>
	                </div>
	                <div class="inner_row">
	                  	<label>CURRENCY</label>
	                  	<select name="budget_currency" class="wid-205" selected ="<%=@project_data[:budget]%>">
	                    	<option value=""></option>
	                      	<option value="AFN">Afghani</option>
							<option value="DZD">Algerian Dinar</option>
							<option value="ARS">Argentine Peso</option>
							<option value="AMD">Armenian Dram</option>
							<option value="AWG">Aruban Guilder</option>
							<option value="AUD">Australian Dollar</option>
							<option value="AZN">Azerbaijanian Manat</option>
							<option value="BSD">Bahamian Dollar</option>
							<option value="BHD">Bahraini Dinar</option>
							<option value="THB">Baht</option>
							<option value="PAB">Balboa</option>
							<option value="BBD">Barbados Dollar</option>
							<option value="BYR">Belarussian Ruble</option>
							<option value="BZD">Belize Dollar</option>
							<option value="BMD">Bermudian Dollar</option>
							<option value="VEF">Bolivar Fuerte</option>
							<option value="BOB">Boliviano</option>
							<option value="BRL">Brazilian Real</option>
							<option value="BND">Brunei Dollar</option>
							<option value="BGN">Bulgarian Lev</option>
							<option value="BIF">Burundi Franc</option>
							<option value="CAD">Canadian Dollar</option>
							<option value="CVE">Cape Verde Escudo</option>
							<option value="KYD">Cayman Islands Dollar</option>
							<option value="GHS">Cedi</option>
							<option value="XOF">CFA Franc BCEAO</option>
							<option value="XAF">CFA Franc BEAC</option>
							<option value="XPF">CFP Franc</option>
							<option value="CLP">Chilean Peso</option>
							<option value="COP">Colombian Peso</option>
							<option value="KMF">Comoro Franc</option>
							<option value="CDF">Congolese Franc</option>
							<option value="BAM">Convertible Marks</option>
							<option value="NIO">Cordoba Oro</option>
							<option value="CRC">Costa Rican Colon</option>
							<option value="HRK">Croatian Kuna</option>
							<option value="CUP">Cuban Peso</option>
							<option value="CZK">Czech Koruna</option>
							<option value="GMD">Dalasi</option>
							<option value="DKK">Danish Krone</option>
							<option value="MKD">Denar</option>
							<option value="DJF">Djibouti Franc</option>
							<option value="STD">Dobra</option>
							<option value="DOP">Dominican Peso</option>
							<option value="VND">Dong</option>
							<option value="XCD">East Caribbean Dollar</option>
							<option value="EGP">Egyptian Pound</option>
							<option value="SVC">El Salvador Colon</option>
							<option value="ETB">Ethiopian Birr</option>
							<option value="EUR">Euro</option>
							<option value="FKP">Falkland Islands Pound</option>
							<option value="FJD">Fiji Dollar</option>
							<option value="HUF">Forint</option>
							<option value="GIP">Gibraltar Pound</option>
							<option value="HTG">Gourde</option>
							<option value="PYG">Guarani</option>
							<option value="GNF">Guinea Franc</option>
							<option value="GYD">Guyana Dollar</option>
							<option value="HKD">Hong Kong Dollar</option>
							<option value="UAH">Hryvnia</option>
							<option value="ISK">Iceland Krona</option>
							<option value="INR">Indian Rupee</option>
							<option value="IRR">Iranian Rial</option>
							<option value="IQD">Iraqi Dinar</option>
							<option value="JMD">Jamaican Dollar</option>
							<option value="JOD">Jordanian Dinar</option>
							<option value="KES">Kenyan Shilling</option>
							<option value="PGK">Kina</option>
							<option value="LAK">Kip</option>
							<option value="EEK">Kroon</option>
							<option value="KWD">Kuwaiti Dinar</option>
							<option value="AOA">Kwanza</option>
							<option value="MMK">Kyat</option>
							<option value="GEL">Lari</option>
							<option value="LVL">Latvian Lats</option>
							<option value="LBP">Lebanese Pound</option>
							<option value="ALL">Lek</option>
							<option value="HNL">Lempira</option>
							<option value="SLL">Leone</option>
							<option value="LRD">Liberian Dollar</option>
							<option value="LYD">Libyan Dinar</option>
							<option value="SZL">Lilangeni</option>
							<option value="LTL">Lithuanian Litas</option>
							<option value="LSL">Loti</option>
							<option value="MGA">Malagasy Ariary</option>
							<option value="MWK">Malawi Kwacha</option>
							<option value="MYR">Malaysian Ringgit</option>
							<option value="TMT">Manat</option>
							<option value="MUR">Mauritius Rupee</option>
							<option value="MZN">Metical</option>
							<option value="MXN">Mexican Peso</option>
							<option value="MXV">Mexican Unidad de Inversion (UDI)</option>
							<option value="MDL">Moldovan Leu</option>
							<option value="MAD">Moroccan Dirham</option>
							<option value="BOV">Mvdol</option>
							<option value="NGN">Naira</option>
							<option value="ERN">Nakfa</option>
							<option value="NAD">Namibia Dollar</option>
							<option value="NPR">Nepalese Rupee</option>
							<option value="ANG">Netherlands Antillian Guilder</option>
							<option value="ILS">New Israeli Sheqel</option>
							<option value="RON">New Leu</option>
							<option value="TWD">New Taiwan Dollar</option>
							<option value="NZD">New Zealand Dollar</option>
							<option value="BTN">Ngultrum</option>
							<option value="KPW">North Korean Won</option>
							<option value="NOK">Norwegian Krone</option>
							<option value="PEN">Nuevo Sol</option>
							<option value="MRO">Ouguiya</option>
							<option value="TOP">Paanga</option>
							<option value="PKR">Pakistan Rupee</option>
							<option value="MOP">Pataca</option>
							<option value="CUC">Peso Convertible</option>
							<option value="UYU">Peso Uruguayo</option>
							<option value="PHP">Philippine Peso</option>
							<option value="GBP">Pound Sterling</option>
							<option value="BWP">Pula</option>
							<option value="QAR">Qatari Rial</option>
							<option value="GTQ">Quetzal</option>
							<option value="ZAR">Rand</option>
							<option value="OMR">Rial Omani</option>
							<option value="KHR">Riel</option>
							<option value="MVR">Rufiyaa</option>
							<option value="IDR">Rupiah</option>
							<option value="RUB">Russian Ruble</option>
							<option value="RWF">Rwanda Franc</option>
							<option value="SHP">Saint Helena Pound</option>
							<option value="SAR">Saudi Riyal</option>
							<option value="RSD">Serbian Dinar</option>
							<option value="SCR">Seychelles Rupee</option>
							<option value="SGD">Singapore Dollar</option>
							<option value="SBD">Solomon Islands Dollar</option>
							<option value="KGS">Som</option>
							<option value="SOS">Somali Shilling</option>
							<option value="TJS">Somoni</option>
							<option value="LKR">Sri Lanka Rupee</option>
							<option value="SDG">Sudanese Pound</option>
							<option value="SRD">Surinam Dollar</option>
							<option value="SEK">Swedish Krona</option>
							<option value="CHF">Swiss Franc</option>
							<option value="SYP">Syrian Pound</option>
							<option value="BDT">Taka</option>
							<option value="WST">Tala</option>
							<option value="TZS">Tanzanian Shilling</option>
							<option value="KZT">Tenge</option>
							<option value="TTD">Trinidad and Tobago Dollar</option>
							<option value="MNT">Tugrik</option>
							<option value="TND">Tunisian Dinar</option>
							<option value="TRY">Turkish Lira</option>
							<option value="AED">UAE Dirham</option>
							<option value="UGX">Uganda Shilling</option>
							<option value="COU">Unidad de Valor Real</option>
							<option value="CLF">Unidades de fomento</option>
							<option value="UYI">Uruguay Peso en Unidades Indexadas</option>
							<option value="USD">US Dollar</option>
							<option value="USN">US Dollar (Next day)</option>
							<option value="USS">US Dollar (Same day)</option>
							<option value="UZS">Uzbekistan Sum</option>
							<option value="VUV">Vatu</option>
							<option value="KRW">Won</option>
							<option value="YER">Yemeni Rial</option>
							<option value="JPY">Yen</option>
							<option value="CNY">Yuan Renminbi</option>
							<option value="ZMK">Zambian Kwacha</option>
							<option value="ZWL">Zimbabwe Dollar</option>
							<option value="PLN">Zloty</option>
	                    </select>
	                </div>	                     
	             </div>
	            
                <div class="row">
                  <label>PROJECT WEBSITE</label>
                  <input name="website" type="text" class="imp01" value ="<%=@project_data[:website]%>"/>
                </div>
              </div>
              <div class="colem">
                <h3>LOCATION</h3>
                <div class="row">
                  <label>SELECT IN THE MAP</label>
                  <div id="map_canvas" style="width:430px; height:300px;"></div>
                </div>
              </div>
              <div class="colem">
                <h3>ORGANIZATIONS INVOLVED</h3>
                <div class="row">
                  <div class="inner_row">
                    <label>PARTNER ACTIVITY ID</label>
                    <input name="program_guid" type="text" class="imp01" value ="<%=@project_data[:website]%>"/>
                  </div>
                  <div class="inner_row wid-400">
                    <p class="date">Is this project funded by a program already in IATI? 
                      Introduce the IATI Identifier of the master program</p>
                  </div>
                </div>
                
                <div class="row">
                <label>OTHER PARTICIPATING ORGANIZATIONS</label>
                  <ul>
                    <li>
                      <div class="health"><a href="#">Oxfam International</a><em>AS</em><a href="#" class="last">Implementer <img src="/images/cross.gif" alt="" /></a></div>
                      <div class="inner_row">
                        <label>NAME</label>
                        <input name="other_org_name_1" type="text" class="imp01" value ="<%=@project_data[:other_org_name_1]%>"/>
                      </div>
                      <div class="inner_row">
                        <label>AS...</label>
                        <select name="other_org_role_1" class="wid-205" value ="<%=@project_data[:other_org_role_1]%>">
     						<option value="1">accountable</option>
						  	<option value="2">extending</option>
						  	<option value="3">funding</option>
						  	<option value="4">implementing</option>
                        </select>
                      </div>
                      <div class="inner_row last02">
                        <input type="button" class="button_add" />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="colem">
                <h3>PERFORMANCE</h3>
                <div class="row">
                  <label>RESULT TITLE</label>
                  <input name="result_title" type="text" class="imp01" value ="<%=@project_data[:result_title]%>"/>
                </div>
                <div class="row">
                  <label>DESCRIPTION / TARGETS</label>
                  <textarea name="result_description" rows="" cols="" value ="<%=@project_data[:result_description]%>"></textarea>
                </div>
              </div>
              <div class="colem">
                <h3>CONTACT DATA</h3>
                <div class="row">
                  <ul class="patrn02">
                    <li>
                      <input name="same_person" type="checkbox" class="checkbox" value ="<%=@project_data[:same_person]%>"/>
                      <span>Check this option if you are the contact person</span> </li>
                  </ul>
                  <ul>
                    <li>
                      <div class="inner_row wid-402 pad">
                        <label>CONTACT NAME</label>
                        <input name="contact_name" type="text" value ="<%=@project_data[:contact_name]%>" />
                      </div>
                      <div class="inner_row wid-402">
                        <label>EMAIL</label>
                        <input name="contact_email" type="text" value ="<%=@project_data[:contact_email]%>" />
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
				<div class="colem">
	                <h3 class="padd_top">CLASSIFICATION</h3>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>COLLABORATION TYPE</label>
	                    <select class="wid-400">
							<option></option>
	                      	<option value="1">Bilateral</option>
						  	<option value="2">Multilateral</option>
						  	<option value="4">Multilateral outflows</option>
						  	<option value="5">Aid through NGOs</option>
						  	<option value="6">Aid to NGOs</option>
						  	<option value="7">Aid through PPPs</option>
	                    </select>
	                  </div>
	                  <div class="inner_row">
	                    <p class="date"> Check out<a hre="http://iatistandard.org/codelists/finance_type"> here</a> to understand all options</p>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>TIED STATUS</label>
	                    <select class="wid-400">
	                      <option></option>
							<option value="3">Partially tied</option>
						  	<option value="4">Tied</option>
						  	<option value="5">Untied</option> 
	                    </select>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>AID TYPE</label>
	                    <select class="wid-400">
	                      	<option></option>
							<option value="A02">Sector budget support</option>
						  	<option value="B01">Core support to NGOs, other private bodies, PPPs and research institutes</option>
						  	<option value="B02">Core contributions to multilateral institutions</option>
						  	<option value="B03">Contributions to specific-purpose programmes and funds managed by international organisations</option>
						  	<option value="B04">Basket funds/pooled funding</option>
						  	<option value="C01">Project-type interventions</option>
							<option value="D01">Donor country personnel</option>
							<option value="D02">Other technical assistance</option>
							<option value="E01">Scholarships/training in donor country</option>
							<option value="E02">Imputed student costs</option>
							<option value="F01">Debt relief</option>
							<option value="G01">Administrative costs not included elsewhere</option>
							<option value="H01">Development awareness</option>
							<option value="H02">Refugees in donor countries</option>	                      
	                    </select>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>FLOW TYPE</label>
	                    <select class="wid-400">
	                      <option></option>
							<option value="10">Official Development Assistance</option>
						  	<option value="20">Other Official Flows</option>
						  	<option value="30">Private NGO</option>
						  	<option value="35">Private Market</option>
	                    </select>
	                  </div>
	                </div>
	                <div class="row">
	                  <div class="inner_row wid-402">
	                    <label>FIINANCE TYPE</label>
	                    <select class="wid-400">
	                      <option></option>
						<option value="110">	Aid grant excluding debt reorganisation</option>
						<option value="111">	Subsidies to national private investors</option>
						<option value="210">	Interest subsidy grant in AF</option>
						<option value="211">	Interest subsidy to national private exporters</option>
						<option value="310">	Deposit basis</option>
						<option value="311">	Encashment basis</option>
						<option value="410">	Aid loan excluding debt reorganisation</option>
						<option value="411">	Investment-related loan to developing countries</option>
						<option value="412">	Loan in a joint venture with the recipient</option>
						<option value="413">	Loan to national private investor</option>
						<option value="414">	Loan to national private exporter</option>
						<option value="451">	Non-banks guaranteed export credits</option>
						<option value="452">	Non-banks non-guaranteed portions of guaranteed export credits</option>
						<option value="453">	Bank export credits</option>
						<option value="510">	Acquisition of equity as part of a joint venture with the recipient</option>
						<option value="511">	Acquisition of equity not part of joint venture in developing countries</option>
						<option value="512">	Other acquisition of equity. <option value="110">	Aid grant excluding debt reorganisation</option>
						<option value="111">	Subsidies to national private investors</option>
						<option value="210">	Interest subsidy grant in AF</option>
						<option value="211">	Interest subsidy to national private exporters</option>
						<option value="310">	Deposit basis</option>
						<option value="311">	Encashment basis</option>
						<option value="410">	Aid loan excluding debt reorganisation</option>
						<option value="411">	Investment-related loan to developing countries</option>
						<option value="412">	Loan in a joint venture with the recipient</option>
						<option value="413">	Loan to national private investor</option>
						<option value="414">	Loan to national private exporter</option>
						<option value="451">	Non-banks guaranteed export credits</option>
						<option value="452">	Non-banks non-guaranteed portions of guaranteed export credits</option>
						<option value="453">	Bank export credits</option>
						<option value="510">	Acquisition of equity as part of a joint venture with the recipient</option>
						<option value="511">	Acquisition of equity not part of joint venture in developing countries</option>
						<option value="512">	Other acquisition of equity. Investment in a country on the DAC List of ODA Recipients that is not made to acquire a lasting interest in an enterprise.</option>
						<option value="610">	Debt forgiveness: ODA claims (P)</option>
						<option value="611">	Debt forgiveness: ODA claims (I)</option>
						<option value="612">	Debt forgiveness: OOF claims (P)</option>
						<option value="613">	Debt forgiveness: OOF claims (I)</option>
						<option value="614">	Debt forgiveness: Private claims (P)</option>
						<option value="615">	Debt forgiveness: Private claims (I)</option>
						<option value="616">	Debt forgiveness: OOF claims (DSR)</option>
						<option value="617">	Debt forgiveness: Private claims (DSR)</option>
						<option value="618">	Debt forgiveness: Other</option>
						<option value="620">	Debt rescheduling: ODA claims (P)</option>
						<option value="621">	Debt rescheduling: ODA claims (I)</option>
						<option value="622">	Debt rescheduling: OOF claims (P)</option>
						<option value="623">	Debt rescheduling: OOF claims (I)</option>
						<option value="624">	Debt rescheduling: Private claims (P)</option>
						<option value="625">	Debt rescheduling: Private claims (I)</option>
						<option value="626">	Debt rescheduling: OOF claims (DSR)</option>
						<option value="627">	Debt rescheduling: Private claims (DSR)</option>
						<option value="630">	Unicode Encode Error</option>
						<option value="631">	Unicode Encode Error</option>
						<option value="632">	Unicode Encode Error</option>
						<option value="710">	Foreign direct investment</option>
						<option value="711">	Other foreign direct investment, including reinvested earnings</option>
						<option value="810">	Bank bonds</option>
						<option value="811">	Non-bank bonds</option>
						<option value="910">	Other bank securities/claims</option>
						<option value="911">	Other non-bank securities/claims</option>
						<option value="912">	Securities and other instruments issued by multilateral agencies</option></option>
						<option value="610">	Debt forgiveness: ODA claims (P)</option>
						<option value="611">	Debt forgiveness: ODA claims (I)</option>
						<option value="612">	Debt forgiveness: OOF claims (P)</option>
						<option value="613">	Debt forgiveness: OOF claims (I)</option>
						<option value="614">	Debt forgiveness: Private claims (P)</option>
						<option value="615">	Debt forgiveness: Private claims (I)</option>
						<option value="616">	Debt forgiveness: OOF claims (DSR)</option>
						<option value="617">	Debt forgiveness: Private claims (DSR)</option>
						<option value="618">	Debt forgiveness: Other</option>
						<option value="620">	Debt rescheduling: ODA claims (P)</option>
						<option value="621">	Debt rescheduling: ODA claims (I)</option>
						<option value="622">	Debt rescheduling: OOF claims (P)</option>
						<option value="623">	Debt rescheduling: OOF claims (I)</option>
						<option value="624">	Debt rescheduling: Private claims (P)</option>
						<option value="625">	Debt rescheduling: Private claims (I)</option>
						<option value="626">	Debt rescheduling: OOF claims (DSR)</option>
						<option value="627">	Debt rescheduling: Private claims (DSR)</option>
						<option value="630">	Unicode Encode Error</option>
						<option value="631">	Unicode Encode Error</option>
						<option value="632">	Unicode Encode Error</option>
						<option value="710">	Foreign direct investment</option>
						<option value="711">	Other foreign direct investment, including reinvested earnings</option>
						<option value="810">	Bank bonds</option>
						<option value="811">	Non-bank bonds</option>
						<option value="910">	Other bank securities/claims</option>
						<option value="911">	Other non-bank securities/claims</option>
						<option value="912">	Securities and other instruments issued by multilateral agencies</option>
	                    </select>
	                  </div>
	                </div>
	              </div>
					<input type="hidden" id="cartodb_id" name="cartodb_id" value="<%=@project_data[:cartodb_id]%>" />
				<input type="hidden" id="google_markers" name="google_markers" value="<%=@project_data[:google_markers]%>" />
              <div class="colem01"> <span>
                <input class="inp" type="submit" value="Submit"/>
                </span> </div>
            </fieldset>
          <% end %>
        </div>
      </div>
      <div class="registry_right">
        <div class="top_section">
          <h4><img src="/images/do_help02.gif" alt="" /></h4>
          <p>If you have doubts of how to fill in this form you can always check an example or <a HREF="mailto:contact@openaidregister.org">contact us </a>with your questions.</p>
        </div>
        <div class="process">
          <h4> PROCCESS OVERVIEW</h4>
          <div class="slide">
            <div class="slider"><a href="#"><img src="/images/slider.gif" alt="" /></a></div>
          </div>
          <p>You've completed more than a half of the form. You are almost done! :)</p>
          <ul>
			<% if @errors.length>0 %>
			<h5><b>Errors:</b></h5>
			<%@errors.each do |error|%>
			<li>
				<%=error%><br>		
				</li><%end%>
				<%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>