<!DOCTYPE html>
<html>
<head>
  <title>OpenAidRegister</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="main_container">

	        <div class="menu">
	        	<ul>                                                                         
	        		<li class="selected">
					
					<%= link_to "home", root_path %>
					</li> 
					
	                <li>
							<%= link_to "about", about_path %>
						
						</li>
						  
									
										

						
	        	</ul>
	        </div>
	
			<div class="center_content">

		        	<h1>Open <span class="orange">Aid</span> Register</h1>

		<h3> <i> Committed with aid transparency </i> </h3>

		</div>
		
	
		
		<div class="right_content">

	        	<% if !session[:organization].blank? %>
					
			<%= link_to "log out", '/logout' %>
			
	      	<%  end %>

	</div>
		
		
	
<%= yield %>



	</div>
	<!-- end of main_container -->
	 
	<div id="footer">                                              
        <div class="right_footer"> 
	<h2> About this project </h2>
	<p> Open Aid Register is an initiative to speed up getting the global picture of who is doing what, where in terms of aid.	 </p>
	<p>
		<%= link_to "Learn more about this", about_path %> or <%= mail_to "ruthdelcampo@gmail.com", "contact" %> us
		
		 </p>
	
 </div>
 
	</div>  
	
	 



</body>
</html>
