<!DOCTYPE html>
<html>
<head>
  <title>OpenAidRegister</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

	<div id="main_container">

	        <div class="menu">
	        	<ul>                                                                         
	        		<li class="selected">
					
					<%= link_to "home", root_path %>
					</li> 
					
	                <li>
							<%= link_to "about", about_path %>
						
						</li>
	        	</ul>
	        </div>
	
			<div class="center_content">

		        	<h1>Open <span class="orange">Aid</span> Register</h1>

		<h3> <i> Committed with aid transparency </i> </h3>

		</div>
	
<%= yield %>



	</div>
	<!-- end of main_container -->
	 
	<div id="footer">                                              
        <div class="right_footer"><%= link_to "home", root_path %> 	<%= link_to "about", about_path %> <a href="mailto:ruthdelcampo@gmail.com">contact</a> 	<%= link_to "terms and conditions", conditions_path %> </div>
        
	</div>   



</body>
</html>
